<%
    var formCode = {
        //uediter选项
        uediterFields: [],

        get: function(index){
            var type = array2value(addInfo,'field',addlist[i],'type');
            var codeType = {
                _text: 'input',
                _int: 'input',
                _datetime: 'input',
                _checkbox: 'inputCheckbox',
                _stepselect: 'select',
                _htmltext: 'uediter',
            };
            if('_'+type === '_htmltext') formCode.uediterFields.push(addlist[i]);
            if(codeType['_'+type] in formCode) return formCode[codeType['_'+type]](index);
            return "formCode中不存在" + codeType['_'+type] + "组件";
        },

        input: function(index){
            var str = '<tr>' +
                    '<td>' + this.defNull(array2value(addInfo,'field',addlist[i],'itemname')) + '：</td>' +
                    '<td>' +
                        '<div class="form-group col-xs-4">' +
                            '<input class="form-control" name="' + addlist[i] + '"  '+ this.defNull(array2value(addInfo,'field',addlist[i],'attr')) + ' value="{{' + addlist[i] + '}}"/>' +
                        '</div>' +
                        '<span style="line-height: 40px;"><i class="iconfont icon-tishi comment" style="color: #1C66A7;"></i></span>' +
                    '</td>' +           
                '</tr>';

            return str;
        },

        inputCheckbox: function(index){
            var str = '<tr>' +
                    '<td>' + this.defNull(array2value(addInfo,'field',addlist[i],'itemname')) + '：</td>' +
                    '<td>' + 
                        '<div class="btn-group auto-checkbox" data-toggle="buttons" style="margin-left:15px;">'+
                            '<label class="btn btn-outline btn-success dim">'+
                                '<input type="checkbox" name="' + addlist[i] + '"  '+ this.defNull(array2value(addInfo,'field',addlist[i],'attr')) + ' data-stat="{{' + addlist[i] + '}}" value="{{' + addlist[i] + '}}" /> <i class="fa fa-check"></i><!--<i class="fa fa-times"></i>-->'+
                            '</label>'+
                        '</div>'+
                    '</td></tr>';     
                
            return str;
        },

        inputRadio: function(index){
            var str = '<tr>' +
                    '<td>' + array2value(addInfo,'field',addlist[i],'itemname') + '：</td>' +
                    '<td>' + 
                        '<div class="btn-group auto-radio" data-toggle="buttons" style="margin-left:15px;">'+
                            '<label class="btn btn-outline btn-success dim">'+
                                '<input type="radio" name="' + addlist[i] + '"  '+ this.defNull(array2value(addInfo,'field',addlist[i],'attr')) + ' data-stat="{{' + addlist[i] + '}}" value=""> <i class="fa fa-check"></i><!--<i class="fa fa-times"></i>-->'+
                            '</label>'+
                        '</div>'+
                    '</td></tr>';     
                
            return str;
        },

        select: function(index){
            var str = '<tr>' +
                    '<td>' + array2value(addInfo,'field',addlist[i],'itemname') + '：</td>' +
                    '<td>' +
                        '<div class="col-sm-4 col-xs-4 auto-select">' +
                            '<select class="form-control" name="' + addlist[i] + '" '+ this.defNull(array2value(addInfo,'field',addlist[i],'attr')) + ' value="{{' + addlist[i] + '}}"></select>' +
                        '</div>' +
                    '</td>' +           
                '</tr>';

            return str;
        },

        uediter: function(index){
            return '<tr>' +
                    '<td>' + array2value(addInfo,'field',addlist[i],'itemname') + '：</td>' +
                    '<td>' +
                        '<div class="col-sm-12 col-xs-12 ueditor-box">' +
                            '<input type="hidden" id="ue-contents" name="' + addlist[i] + '" value="" />'+
                            '<iframe src="" name="iframe-' + addlist[i] + '" style="width:100%;height:100%;min-height:520px;border: 0;overflow: hidden;"></iframe>' + 
                        '</div>' +
                    '</td>' +           
                '</tr>';
        },

        defNull: function(d){
            return d || '';
        }
    }
%>

<style>
.add-infor .active{background-color:#FFF;}
.table .active{background-color:#23AD44;}
.full-screen{
    position: fixed;
    z-index: 99999999999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#nestable3 .dd-item>button {
    font-family: FontAwesome;
    height: 34px;
    width: 33px;
    color: #c1c1c1;
}
#nestable3 .dd-item>button:before {
    content: "\f067";
}
.replaceImg-label{
    border:1px solid silver;
    padding: 0;
    margin : 0;
    display: inline-table;
    float: none;
}
.replaceImg-label label{
    margin-top: -5px;
}
.replaceImg-label img{
    width: 130px;
    height: 130px;
    overflow:hidden;
    padding:0;
    margin-top: 6px;
    margin : 0;
    float: left;
}
.replaceImg-label .fa-size{
    font-size:40px;
    padding:45px ;
    padding-top:39px;
    position: absolute;
    background: rgba(0,0,0,0.5);
    color:#fff;
    visibility:hidden;
}
.fa-size :hover{
    visibility:visible;
}

</style>

<div class="container-fluid base">
    <div class="row head">
        <div class="col-xs-12">
            <span>系统管理-栏目管理-编辑栏目</span>
        </div>
    </div>
    <ul class="nav nav-tabs" style="background-color:#fff">
        <li class="active"><a data-toggle="tab" data-target="#tab-1"><i class="fa fa-user"></i> 基本</a>
        </li>
        <li class=""><a data-toggle="tab" data-target="#tab-2"><i class="fa fa-briefcase"></i>详细</a>
        </li>
    </ul>
    <div class="add-infor">
        <div class="row tips">
            <div class="col-xs-12">
                <p class="ti"><i class="iconfont icon-yiliaohangyedeICON-">&nbsp;</i>操作提示</p>
               <div class="col-xs-12">
                    <p class="indent">基本设置由：“安全设置、验证码设置、网站LOGO、地图设置、缓存设置、”组成。</p>     
               </div>
            </div>
        </div>
        <div class="row form tab-content">
            <form id="add-infor" data-form-async='json' action="/admin/arc/save/ctag/infos" method="post" novalidate="novalidate">
                <input type="hidden" name='tag' value="add" />
                <input type="hidden" name='id' value="{{id}}" />
                <input type="hidden" name='parenttypeid2' value="" />
                <input type="hidden" name='componentid' value="-8" />
                
                <!-- tab-1的表单是固定的 -->
                <table class="table" id="tab-1">
                    <thead>
                        <tr>
                            <th class="col-xs-2">参数说明</th>
                            <th>参数值</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>标题：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <input type="text" class="form-control" name="title" placeholder="标题" value="{{title}}"/>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：新闻</span>
                            </td>              
                        </tr>

                        <tr>
                            <td>短标题：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <input type="text" class="form-control" name="shorttitle" placeholder="短标题" value="{{shorttitle}}"/>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：新闻</span>
                            </td>              
                        </tr>

                        <tr>
                            <td>栏目：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <div id="oper-types" style="height:3em;line-height:3em;border:1px solid #CFDADD;padding-left:1em;"><%= treeValue(types,'id',data[0].typeid,'name'); %></div>
                                    <input type="hidden" name="typeid" value="<%= data[0].typeid; %>" />
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;选择当前发布的内容所属的栏目</span>
                                <div class="col-xs-8" id="oper-types-nes" style="border:1px solid #CFDADD;margin-left:15px;display:none;"></div>
                            </td>              
                        </tr>

                        <tr>
                            <td>分类：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <% var classify = JSON.parse(results); %>
                                    <div id="oper-classify" style="height:3em;line-height:3em;border:1px solid #CFDADD;padding-left:1em;"><%= treeValue(classify,'val',data[0].classify,'name'); %></div>
                                    <input type="hidden" name="classify" value="<%= data[0].classify %>"/>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;选择内容所属的分类</span>
                                <div class="col-xs-8" id="oper-classify-nes" style="border:1px solid #CFDADD;margin-left:15px;display:none;"></div>
                            </td>              
                        </tr>

                        <tr>
                            <td>推荐：</td>
                            <td style="padding-left:26px;">
                                <label class="mui-switch-em"><input class="mui-switch mui-switch-anim" type="checkbox" name="component" data-stat="{{component}}" value="{{component}}" /><em></em></label>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;设置栏目是否显示在网站栏目列表</span>
                            </td>    
                        </tr>

                        <tr>
                            <td>关键字：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <input type="text" class="form-control" name="keywords" placeholder="关键字" value="{{keywords}}"/>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：新闻</span>
                            </td>              
                        </tr>

                        <tr>
                            <td>描述：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <input type="text" class="form-control" name="description" placeholder="描述" value="{{description}}"/>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：新闻</span>
                            </td>              
                        </tr>

                        <tr>
                            <td>权重：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <input type="number" class="form-control" name="weight" placeholder="权重" value="{{weight}}"/>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：新闻</span>
                            </td>              
                        </tr>

                        <tr>
                            <td>缩略图：</td>
                            <td id="uris">
                                <div class="form-group col-xs-8">
                                    <div class="replaceImg-label">
                                        <%- data[0].litpic ? '<div class="img-handl" data-img="img-add-0"><span class="fa fa-close fa-size"></span><img src="' + data[0].litpic + '" /></div> ' : ''; %>
                                        
                                        <label class="col-sm-2 control-label" id="img-add" for="replaceImg">
                                            <img src="/img/plus.png" />
                                        </label>
                                    </div>
                                    <input class="hidden" id="replaceImg" type="button" name="file" value="选择图片">
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：新闻</span>
                                <%- data[0].litpic ? '<input type="hidden" data-img="img-add-0" name="uris"  value="' + data[0].litpic + '" />' : '' %>
                            </td>              
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" class="btn">确定</button>
                                <button type="reset" class="btn">重置</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <!-- tab-1的表单由系统生成 -->
                <table class="table hidden" id="tab-2">
                    <thead>
                        <tr>
                            <th class="col-xs-2">参数说明</th>
                            <th>参数值</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i in addlist){ %>
                            <%- formCode.get(i); %>
                        <% } %>
                        <script> var UE = <%- JSON.stringify({uediterFields: formCode.uediterFields}) %></script>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <a id="test">测试</a>
                                <button type="submit" class="btn">确定</button>
                                <button type="reset" class="btn">重置</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</div>



<script src="/bootstrap/js/plugins/nestable/jquery.nestable.js"></script>
<script>
    //初始化nestbale
    var initNestable = function(){
        var error = <%- error; %>;
        var updateOutput = function (e) {
            var list = e.length ? e : $(e.target),
            output = list.data('output');
        };
    
        //分类相关
        $("#oper-classify").click(function(){
            $("#oper-classify-nes").fadeToggle();
        })
    
        var results = <%- error ? false : results %>;
        //初始化nestable数据结构
        effect.nestable(results,error,'#oper-classify-nes');
        
        // activate Nestable for list 2
        $('#nestable2').nestable({group: 1}).on('change', updateOutput);
        $('.dd').nestable('collapseAll');    
        //隐藏编辑按钮
        $('.dd-edit').hide();
        $(".dd-addon-handel").removeClass('hidden')
    
        //设置被选择的值及效果
        $('.handel-nestable2').unbind('click').on('click',function(e){
            $("#oper-classify").text($(this).parent().find(".dd-val").html());
            $("#oper-classify").siblings('input[ name="classify"]').val($(this).parent().attr('data-val'));
            $("#oper-classify-nes").fadeToggle();
        });
        
        //栏目相关
        $("#oper-types").click(function(){
            $("#oper-types-nes").fadeToggle();
        })
        var types = <%- error ? false : JSON.stringify(types) %>;
        //初始化nestable数据结构
        effect.nestable(types,error,'#oper-types-nes');
    
        // activate Nestable for list 2
        $('#nestable3').nestable({group: 1}).on('change', updateOutput);
        $('.dd').nestable('collapseAll');    
        //隐藏编辑按钮
        $('.dd-edit').hide();
        $(".dd-addon-handel").removeClass('hidden')
    
        //设置被选择的值及效果
        $('.handel-nestable3').unbind('click').on('click',function(e){
            $("#oper-types").text($(this).parent().find(".dd-val").html());
            $("#oper-types").siblings('input[ name="typeid"]').val($(this).parent().attr('data-val'));
            $("#oper-types-nes").fadeToggle();
        });
    } 

</script>

<script>
    //选项卡相关
    $("a[data-toggle='tab']").click(function(){
        $(".table").addClass('hidden');
        $($(this).attr('data-target')).removeClass('hidden');
    });

    //初始化表单的值
    var recodData = {
            error: <%- error %>,
            data: <%- JSON.stringify(data[0]); %>
        }
        console.log(recodData);
    DL({
        dev: 'on',
        id: "#add-infor",
        packet: recodData,
        after: function(){
            //加载ueditor
            $("iframe").attr('src','/admin/arc/ueditor');

            $("iframe").load(function(){
                UE.frame = $("iframe").eq(0);
                //读取UE内容
                UE.contents = function(){
                    var ue = UE.frame[0].contentWindow.ue;
                    return ue.getContent();
                }
                //标识UE是否全屏
                UE.full =  false;

                //绑定ue全屏件事
                UE.frame.contents().find("#edui3_body").click(function(){
                    UE.full ? $(".ueditor-box").removeClass('full-screen'):
                    $(".ueditor-box").addClass('full-screen');
                    UE.full = UE.full ? false : true;
                });

                //绑定ue获取内容事件
                $('button[type="submit"]').mouseover(function(){
                    $("#ue-contents").val(UE.contents());
                });
                
                var wt = setInterval(function(){
                    (typeof UE.time == 'number') ?  UE.time ++ : UE.time = 0;
                    if(UE.time > 4) {
                        app.notice({
                            error: 1,
                            message: 'UEditor 加载超时！'
                        });
                        return clearInterval(wt);
                    }
                    if(!UE.frame[0].contentWindow.ue.body) return;
                    clearInterval(wt);
                    var field = UE.uediterFields[0];
                    UE.frame[0].contentWindow.ue.setContent(recodData.data[field]); //将字段对应的值展示到ueditor中
                },500)

                initNestable();
            });
        }
    });

</script>


<script>
    app.load(".add-infor");
    effect.switch(".mui-switch",'是','否');
    effect.setDefVal(".add-infor");     //设置页面默认值
    effect.setComments(".add-infor");
    effect.setCheckbox(".auto-checkbox");
    effect.setRadio(".auto-radio");
    effect.setSelect(".auto-select");
    //补充效果
    $(".auto-checkbox").find('input').each(function(index,item){
        var keys = $(item).attr('data-key') ? $(item).attr('data-key').split('-'): [];
        var val = $(item).val();
        if(keys.indexOf(val) + 1) {
            $(item).prop("checked",true);
            $(item).parent().addClass('active');
        }
    });

    function save(res){
        app.notice(res);
    }
</script>

<script>
    alert($(window).width());
    /**
     * 图片上传处理器
     * */
    var imgIndex = 0;
    function upProcess(data){
        var info = {
            error : 1,
            message : "上传失败，请重新上传！"
        };
        if(data.state != 1) return app.notice(info);
        var addObj =   `<div class="img-handl" data-img="img-add-`+ imgIndex +`">
            <span class="fa fa-close fa-size"></span>
            <img src="/` + data.url + `" />
            </div>`;
            
        $("#img-add").before($(addObj));
        $("#uris").append($('<input type="hidden" data-img="img-add-'+ imgIndex +'" name="uris"  value="/'+ data.url +'" />'));
        info.message = "恭喜您上传成功！";
        app.notice(info);
        imgIndex ++;

        setEffect();
    }
    function setEffect(){
        $(".img-handl").unbind('mouseover').on("mouseover",function(e){
            $(this).find(".fa-size").css({
                visibility : 'visible'
            });
        })
        $(".img-handl").unbind('mouseout').on("mouseout",function(e){
            $(this).find(".fa-size").css({
                visibility : 'hidden'
            });
        })
        //删除上传的图片
        $(".img-handl").unbind('click').on("click",function(e){
            var dataImg = $(this).attr('data-img');
            $('[data-img='+ dataImg +']').remove();
            var arr = dataImg.split('-');
            var index = arr[arr.length - 1];
            delete j[index];
            j.length --;
        })
    } 
    //效果初始化
    setEffect();
</script>

<!-- 输出视图组件 -->
<%- cropperView %>
<!-- 输出视逻辑代码 -->
<%- cropperAsync %>