<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-25 11:08:33
 * @LastEditTime: 2019-08-17 09:41:46
 * @LastEditors: Please set LastEditors
 -->
<%- //print_r(data[0]) %>
<%- //print_r(addoninfos) %>
<%
    var formCode = {
        //uediter选项
        uediterFields: [],

        get: function(index){
            var type = addoninfos[index].inputtype;
            if(type in formCode) return formCode[type](index);
            return "formCode中不存在" + type + "组件";
        },

        input: function(index){
            var str = '<tr>' +
                    '<td>' + echo(addoninfos[index].itemname) + '：</td>' +
                    '<td>' +
                        '<div class="form-group col-xs-4">' +
                            '<input class="form-control" name="' + addoninfos[index].field + '"  '+ echo(addoninfos[index].attr) + ' value="{{' + addoninfos[index].field + '}}"/>' +
                        '</div>' +
                        '<span style="line-height: 40px;"><i class="iconfont icon-tishi comment" style="color: #1C66A7;"></i></span>' +
                    '</td>' +           
                '</tr>';

            return str;
        },

        checkbox: function(index){
            var str = '<tr>' +
                    '<td>' + echo(addoninfos[index].itemname) + '：</td>' +
                    '<td>' + 
                        '<div class="btn-group auto-checkbox" data-toggle="buttons" style="margin-left:15px;">'+
                            '<label class="btn btn-outline btn-success btn-checkbox dim">'+
                                '<input type="checkbox" name="' + addoninfos[index].field + '"  '+ echo(addoninfos[index].attr) + ' data-def="{{' + addoninfos[index].field + '}}" value="{{' + addoninfos[index].field + '}}" /> <i class="fa fa-check"></i><!--<i class="fa fa-times"></i>-->'+
                            '</label>'+
                        '</div>'+
                    '</td></tr>';     
                
            return str;
        },

        radio: function(index){
            var str = '<tr>' +
                    '<td>' + echo(addoninfos[index].itemname) + '：</td>' +
                    '<td>' + 
                        '<div class="btn-group auto-radio" data-toggle="buttons" style="margin-left:15px;">'+
                            '<label class="btn btn-outline btn-success btn-radio dim">'+
                                '<input type="radio" name="' + addoninfos[index].field + '"  '+ echo(addoninfos[index].attr) + ' data-stat="{{' + addoninfos[index].field + '}}" value=""> <i class="fa fa-check"></i><!--<i class="fa fa-times"></i>-->'+
                            '</label>'+
                        '</div>'+
                    '</td></tr>';     
                
            return str;
        },

        select: function(index){
            var str = '<tr>' +
                    '<td>' + echo(addoninfos[index].itemname) + '：</td>' +
                    '<td>' +
                        '<div class="col-sm-4 col-xs-4 auto-select">' +
                            '<select class="form-control" name="' + addoninfos[index].field + '" '+ echo(addoninfos[index].attr) + ' value="{{' + addoninfos[index].field + '}}"></select>' +
                        '</div>' +
                    '</td>' +           
                '</tr>';

            return str;
        },

        textarea: function(index){
            var str = '<tr>' +
                    '<td>' + echo(addoninfos[index].itemname) + '：</td>' +
                    '<td>' +
                        '<div class="form-group col-xs-8">' +
                            '<textarea class="form-control" name="' + addoninfos[index].field + '"  '+ echo(addoninfos[index].attr) + '>{{' + addoninfos[index].field + '}}</textarea>' +
                        '</div>' +
                        '<span style="line-height: 40px;"><i class="iconfont icon-tishi comment" style="color: #1C66A7;"></i></span>' +
                    '</td>' +           
                '</tr>';

            return str;
        },

        uediter: function(index){
            formCode.uediterFields.push(addoninfos[index].field);
            return '<tr>' +
                    '<td>' + echo(addoninfos[index].itemname) + '：</td>' +
                    '<td>' +
                        '<div class="col-sm-12 col-xs-12 ueditor-box">' +
                            '<input type="hidden" id="ue-contents" name="' + addoninfos[index].field + '" value="" />'+
                            '<iframe src="" name="iframe-' + addoninfos[index].field + '" style="width:100%;height:100%;min-height:520px;border: 0;overflow: hidden;"></iframe>' + 
                        '</div>' +
                    '</td>' +           
                '</tr>';
        },

        /**
        *   参数说明：
        *   data-limit: 限制图片上传的张数
        *   data-field: 字段名称，input的name值
        **/
        uploader: function(index){
            var mainpic = data[0][addoninfos[index].field];
            mainpic = mainpic ? mainpic.split('-') : [];
            var pics = inputs = imgTag = '';
            for(var i = 0; i < mainpic.length; i ++){
                imgTag = 'data-img-' + addoninfos[index].field + '-' + i;
                pics += '<div class="img-handl" data-img="'+ imgTag +'"><span class="fa fa-close fa-size"></span><img src="'+ mainpic[i] +'" /></div>';
                inputs += '<input type="hidden" data-img="'+ imgTag +'" name="' + addoninfos[index].field + '"  value="'+ mainpic[i] +'" />' ;
            }
            return '<tr>' + 
                '<td>'+ echo(addoninfos[index].itemname) + '：</td>' + 
                '<td class="pic-box" data-limit="'+ addoninfos[index].limit +'" data-field='+ addoninfos[index].field +'>' + 
                    '<div class="form-group col-xs-8">' + 
                        '<div class="replaceImg-label">' + 
                            pics + 
                            '<label class="col-sm-2 control-label img-add" for="replaceImg">' + 
                                '<img src="/img/plus.png" />' + 
                            '</label>' + 
                        '</div>' + 
                    '</div>' + 
                    '<span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：新闻</span>' + 
                    inputs +
                '</td>' +            
            '</tr>';
        },

        /**
        *   规格项参数说明：
        **/
        spec: function(index){
            var usespec = (data[0].usespec == 1) ? "checked" : "";
            var showspec = (data[0].usespec == 1) ? "block" : "none";
            var str = `<tr>
                <td>`+ echo(addoninfos[index].itemname) +`</td>
                <td>
                    <label class="col-xs-8">
                        <input type="checkbox" id="oper-spec" style="width:20px;height:20px;vertical-align:bottom;" name="usespec" ` + usespec + ` value="1" />启用分类
                    </label>
                    <div class="col-xs-8" id="oper-spec-nes" style="border:0;display:` + showspec + `;"></div>
                    <table class="col-xs-12" id="spec-table" style="display:` + showspec + `;"> </table>
                </td>
                <input type="hidden" name="specname" value="">         
                <input type="hidden" name="specitem" value="">         
                <input type="hidden" name="specoption" value="">         
            </tr>`;

            return str;
        },

        /**
        *   nesmodal树型结构列表输入
        **/
        nesmodal: function(index){
            var fieldName = addoninfos[index].field;
            var typeName = array2value(addoninfos, 'field', fieldName, 'itemname') || '所属分类'; 
            var listName = array2value(addoninfos, 'field', fieldName, 'islist') || '所属分类'; 
            var str = `<tr>
                <td>` + typeName + `：</td>
                <td>
                    <div class="form-group col-xs-4">
                        <div data-freemodal="state" data-name="` + listName + `" style="height:3em;line-height:3em;border:1px solid #CFDADD;padding-left:1em;"></div>
                        <input type="hidden" name="`+ fieldName +`" value="` +echo(data[0][fieldName]) + `"/>
                    </div>
                    <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i></span>
                </td>              
            </tr>`;
            
            return str;
        },
        
        /**
        *   联动地址输入控件
        **/
        address: function(index){
            var addrId = data[0][addoninfos[index].field];
            var ishidden = data[0][addoninfos[index].field] ? '' : 'hidden';
            var showDetail = (addoninfos[index].limit == 4) ? '': 'hidden';
            return  `<tr>
                <td>`+ echo(addoninfos[index].itemname) + `：</td>
                <td>
                    <div class="form-group col-xs-12 address-group" data-type="`+ echo(ctag) + `" data-level="`+ addoninfos[index].limit +`">
                        <input type="hidden" data-name='address' name="` + addoninfos[index].field + `" `+ echo(addoninfos[index].attr) + ` value="` + echo(addrId) + `">
                        <select class="form-control address address-province" style="width:25%;float:left" data-key="" data-val="" name="addr_province" placeholder="--省--" value=""></select>
                        <select class="form-control address address-city `+ echo(ishidden) +`" style="width:25%;float:left" name="addr_city" placeholder="--市--" value=""></select>
                        <select class="form-control address address-country `+ echo(ishidden) +`" style="width:25%;float:left" name="addr_country" placeholder="--县--" value=""></select>
                        <input class="form-control address-detail `+ echo(showDetail) +`" style="width:25%;float:left" type="text" name="addr_detail" placeholder="详细地址" value=""/>
                    </div>
                </td>              
            </tr>`;
        }
    }
%>
<!-- 主表控件变量 -->
<% var typeNme,effect,listName,attr;%>
<style>
.add-infor .active{background-color:#FFF;}
.table .active{background-color:#23AD44;}
.full-screen{
    position: fixed;
    z-index: 99999999999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#nestable-type .dd-item>button {
    font-family: FontAwesome;
    height: 34px;
    width: 33px;
    color: #c1c1c1;
}
#nestable-type .dd-item>button[data-action="collapse"]:before {content: "\f068";}
#nestable-type .dd-item>button:before {content: "\f067";}
#nestable-type .dd-handle{line-height:28px;}
#nestable-spec .dd-item>button[data-action="collapse"]:before {content: "\f068";}
#nestable-spec .dd-item>button:before {content: "\f067";}
#nestable-spec .dd-handle{line-height:28px;}
.replaceImg-label{
    border:0;
    width: 90%;
    padding: 0;
    margin : 0;
    display: inline-table;
    float: none;
}
.replaceImg-label label{margin-top: -5px;}
.replaceImg-label img{
    width: 130px;
    height: 130px;
    border:0;
    overflow:hidden;
    padding:0;
    margin: 0;
    margin-right: 10px;
    float: left;
}
.replaceImg-label .fa-size{
    font-size: 45px;
    position: absolute;
    display: inline-block;
    width: 130px;
    height: 130px;
    /*left: 0;*/
    /* margin-left:15px; */
    text-align: center;
    line-height: 130px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    visibility: hidden;
}
.replaceImg-label .fa-size :hover{visibility:visible;}
</style>

<div class="container-fluid base">
    <div class="row head">
        <div class="col-xs-12">
            <span>系统管理-栏目管理-编辑栏目</span>
        </div>
    </div>
    <ul class="nav nav-tabs" style="background-color:#fff">
        <li class="active"><a data-toggle="tab" data-target="#tab-1"><i class="fa fa-user"></i> 基本</a>
        </li>
        <li class=""><a data-toggle="tab" data-target="#tab-2"><i class="fa fa-briefcase"></i>详细</a>
        </li>
        <li class=""><a data-toggle="tab" data-target="#tab-3"><i class="fa fa-briefcase"></i>其他</a>
        </li>
    </ul>
    <div class="add-infor">
        <div class="row tips">
            <div class="col-xs-12">
                <p class="ti"><i class="iconfont icon-yiliaohangyedeICON-">&nbsp;</i>操作提示</p>
               <div class="col-xs-12">
                    <p class="indent">基本设置由：“安全设置、验证码设置、网站LOGO、地图设置、缓存设置、”组成。</p>     
               </div>
            </div>
        </div>
        <div class="row form tab-content">
            <form id="add-infor" data-form-async='json' action="/admin/arc/save/ctag/<%= ctag %>" method="post" novalidate="novalidate">
                <input type="hidden" name='tag' value="add" />
                <input type="hidden" name='id' value="{{id}}" />
                <input type="hidden" name='parenttypeid2' value="" />
                <input type="hidden" name='componentid' value="-8" />
                <input type="hidden" name='mid' value="<%= echo(mid)%>" />

                <input type="hidden" name='addtime' value="{{- return dateFormate('%Y-%m-%d %H:%M:%S',addtime) }}" />
                
                <!-- tab-1的表单是固定的 -->
                <table class="table" id="tab-1">
                    <thead>
                        <tr>
                            <th class="col-xs-2">参数说明</th>
                            <th>参数值</th>
                        </tr>
                    </thead>
                    <tbody class="page-struct">
                        <tr>
                            <% 
                            effect = array2value(addoninfos, 'field', 'title', 'effect');
                            typeName = (effect == 'main') ? array2value(addoninfos, 'field', 'title', 'itemname') : '标题'; 
                            attr = (effect == 'main') ? array2value(addoninfos, 'field', 'title', 'attr') : '';
                            %>
                            <td><%= echo(typeName) %>：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <input type="text" class="form-control" name="title" <%= echo(attr) %> value="{{title}}"/>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：新闻</span>
                            </td>              
                        </tr>

                        <tr>
                            <% 
                            effect = array2value(addoninfos, 'field', 'shorttitle', 'effect');
                            typeName = (effect == 'main') ? array2value(addoninfos, 'field', 'shorttitle', 'itemname') : '短标题'; 
                            attr = (effect == 'main') ? array2value(addoninfos, 'field', 'shorttitle', 'attr') : '';
                            %>
                            <td><%= echo(typeName) %>：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <input type="text" class="form-control" name="shorttitle" <%= echo(attr) %> value="{{shorttitle}}"/>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：新闻</span>
                            </td>              
                        </tr>

                        <!-- <tr>
                            <td>栏目：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <div id="oper-types" style="height:3em;line-height:3em;border:1px solid #CFDADD;padding-left:1em;"><%= treeValue(types,'id',data[0].typeid,'name'); %></div>
                                    <input type="hidden" name="typeid" value="<%= data[0].typeid; %>" />
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;选择当前发布的内容所属的栏目</span>
                                <div class="col-xs-8" id="oper-types-nes" style="border:1px solid #CFDADD;margin-left:15px;display:none;"></div>
                            </td>              
                        </tr> -->

                        <tr>
                            <% 
                            effect = array2value(addoninfos, 'field', 'typeid', 'effect');
                            typeName = (effect == 'main') ? array2value(addoninfos, 'field', 'typeid', 'itemname') : '所属栏目'; 
                            listName = (effect == 'main') ? array2value(addoninfos, 'field', 'typeid', 'islist') : '栏目列表'; 
                            attr = (effect == 'main') ? array2value(addoninfos, 'field', 'typeid', 'attr') : '';
                            %>
                            <td><%= echo(typeName) %>：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <div data-freemodal="state" data-name="栏目列表" style="height:3em;line-height:3em;border:1px solid #CFDADD;padding-left:1em;"><%= treeValue(types,'id',data[0].typeid,'name'); %></div>
                                    <input type="hidden" name="typeid" <%= echo(attr) %> value="<%= data[0].typeid; %>" />
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;选择当前发布的内容所属的栏目</span>
                            </td>              
                        </tr>

                        <!-- <tr>
                            <td>分类：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <% var classify = JSON.parse(results); %>
                                    <div id="oper-classify" style="height:3em;line-height:3em;border:1px solid #CFDADD;padding-left:1em;"><%= treeValue(classify,'val',data[0].classify,'name'); %></div>
                                    <input type="hidden" name="classify" value="<%= data[0].classify %>"/>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;选择内容所属的分类</span>
                                <div class="col-xs-8" id="oper-classify-nes" style="border:1px solid #CFDADD;margin-left:15px;display:none;"></div>
                            </td>              
                        </tr> -->

                        <tr>
                            <% 
                            effect = array2value(addoninfos, 'field', 'classify', 'effect');
                            typeName = (effect == 'main') ? array2value(addoninfos, 'field', 'classify', 'itemname') : '所属分类'; 
                            listName = (effect == 'main') ? array2value(addoninfos, 'field', 'classify', 'islist') : '所属分类'; 
                            attr = (effect == 'main') ? array2value(addoninfos, 'field', 'classify', 'attr') : '';
                            %>
                            <td><%= typeName; %>：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <% var classify = JSON.parse(results); %>
                                    <div data-freemodal="state" data-name="<%= listName %>" style="height:3em;line-height:3em;border:1px solid #CFDADD;padding-left:1em;"><%= treeValue(classify,'val',data[0].classify,'name'); %></div>
                                    <input type="hidden" name="classify" <%= echo(attr) %> value="<%= data[0].classify %>"/>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;选择内容所属的分类</span>
                            </td>              
                        </tr>

                        <tr>
                            <% 
                            effect = array2value(addoninfos, 'field', 'component', 'effect');
                            typeName = (effect == 'main') ? array2value(addoninfos, 'field', 'component', 'itemname') : '推荐'; 
                            attr = (effect == 'main') ? array2value(addoninfos, 'field', 'component', 'attr') : '';
                            %>
                            <td><%= echo(typeName) %>：</td>
                            <td style="padding-left:26px;">
                                <label class="mui-switch-em"><input class="mui-switch mui-switch-anim" type="checkbox" name="component" <%= echo(attr) %> data-stat="{{component}}" value="{{component}}" /><em></em></label>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;设置栏目是否显示在网站栏目列表</span>
                            </td>    
                        </tr>

                        <tr>
                            <% 
                            effect = array2value(addoninfos, 'field', 'keywords', 'effect');
                            typeName = (effect == 'main') ? array2value(addoninfos, 'field', 'keywords', 'itemname') : '关键字'; 
                            attr = (effect == 'main') ? array2value(addoninfos, 'field', 'keywords', 'attr') : '';
                            %>
                            <td><%= echo(typeName) %>：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <input type="text" class="form-control" name="keywords" <%= echo(attr) %> value="{{keywords}}"/>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：新闻</span>
                            </td>              
                        </tr>
                        
                        <tr>
                            <% 
                            effect = array2value(addoninfos, 'field', 'state', 'effect');
                            typeName = (effect == 'main') ? array2value(addoninfos, 'field', 'state', 'itemname') : '状态'; 
                            attr = (effect == 'main') ? array2value(addoninfos, 'field', 'state', 'attr') : '';
                            %>
                            <td><%= echo(typeName) %>：</td>
                            <td>
                                <div class="btn-group radio-content-state" data-toggle="buttons" style="margin-left:10px;">
                                    <label class="btn btn-outline btn-success dim codeSwitch btn-radio">
                                        <input type="radio" data-key="<%= locals.enumtagVal ? enumtagVal.join('-'): '' %>" data-val="<%= locals.enumtagName ? enumtagName.join('-'): '' %>" name="state" <%= echo(attr) %> data-def={{state}}><i class="fa fa-check"></i><!--<i class="fa fa-times"></i>-->
                                    </label>
                                </div>
                            </td>              
                        </tr>

                        <tr>
                            <% 
                            effect = array2value(addoninfos, 'field', 'description', 'effect');
                            typeName = (effect == 'main') ? array2value(addoninfos, 'field', 'description', 'itemname') : '描述'; 
                            attr = (effect == 'main') ? array2value(addoninfos, 'field', 'description', 'attr') : '';
                            %>
                            <td><%= typeName; %>：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <input type="text" class="form-control" name="description" <%= echo(attr) %> value="{{description}}"/>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：新闻</span>
                            </td>              
                        </tr>

                        <tr>
                            <% 
                            effect = array2value(addoninfos, 'field', 'weight', 'effect');
                            typeName = (effect == 'main') ? array2value(addoninfos, 'field', 'weight', 'itemname') : '权重'; 
                            attr = (effect == 'main') ? array2value(addoninfos, 'field', 'weight', 'attr') : '';
                            %>
                            <td><%= typeName; %>：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <input type="number" class="form-control" name="weight" p<%= echo(attr) %> value="{{weight}}"/>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：新闻</span>
                            </td>              
                        </tr>

                        <tr>
                            <% 
                            effect = array2value(addoninfos, 'field', 'litpic', 'effect');
                            typeName = (effect == 'main') ? array2value(addoninfos, 'field', 'litpic', 'itemname') : '缩略图'; 
                            attr = (effect == 'main') ? array2value(addoninfos, 'field', 'litpic', 'attr') : '';
                            %>
                            <td><%= typeName; %>：</td>
                            <td class="pic-box" data-limit="1" data-field='litpic'>
                                <div class="form-group col-xs-8">
                                    <div class="replaceImg-label">
                                        <%- data[0].litpic ? '<div class="img-handl" data-img="img-add-0"><span class="fa fa-close fa-size"></span><img src="' + data[0].litpic + '" /></div> ' : ''; %>
                                        
                                        <label class="col-sm-2 control-label img-add" for="replaceImg">
                                            <img src="/img/plus.png" />
                                        </label>
                                    </div>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;上传缩略图（限1张）</span>
                                <%- data[0].litpic ? '<input type="hidden" data-img="img-add-0" name="litpic"  value="' + data[0].litpic + '" />' : '' %>
                            </td>              
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" class="btn">确定</button>
                                <button type="reset" class="btn">重置</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <!-- tab-2的表单由系统生成 -->
                <table class="table hidden" id="tab-2">
                    <thead>
                        <tr>
                            <th class="col-xs-2">参数说明</th>
                            <th>参数值</th>
                        </tr>
                    </thead>
                    <tbody class="page-struct">
                        <% 
                        for(var i in addoninfos){ 
                            if(!addoninfos[i].fieldget || (addoninfos[i].effect && (addoninfos[i].effect != 'addon'))) continue;
                        %>
                            <%- formCode.get(i); %>
                        <% } %>
                        <script> var UE = <%- JSON.stringify({uediterFields: formCode.uediterFields}) %></script>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <a id="test">测试</a>
                                <button type="submit" class="btn">确定</button>
                                <button type="reset" class="btn">重置</button>
                            </td>
                        </tr>
                    </tfoot>
                    <!-- 图片上传必要 -->
                    <input class="hidden" id="replaceImg" type="button" name="file" value="选择图片">
                </table>
                
                <!-- tab-3的表单由系统生成 -->
                <table class="table hidden" id="tab-3">
                    <thead>
                        <tr>
                            <th class="col-xs-2">参数说明</th>
                            <th>参数值</th>
                        </tr>
                    </thead>
                    <tbody class="page-struct">
                        <% 
                        for(var i in addoninfos){ 
                            if(!addoninfos[i].fieldget) continue;
                            if(addoninfos[i].effect == undefined) continue;
                            if(addoninfos[i].effect && (addoninfos[i].effect.indexOf('tab_') !== 0)) continue;
                        %>
                            <%- formCode.get(i); %>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" class="btn">确定</button>
                                <button type="reset" class="btn">重置</button>
                                <button type="button" class="btn tbody-copy-increment">增加</button>
                                <button type="button" class="btn tbody-copy-reduction">删除</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</div>
<!-- 输出视图组件 -->
<%- cropperView %>


<script src="/bootstrap/js/plugins/nestable/jquery.nestable.js"></script>
<script>
    //初始化nestbale
    var initNestable = function(){
        var error = <%- error; %>;
        var updateOutput = function (e) {
            var list = e.length ? e : $(e.target),
            output = list.data('output');
        };

        /**
         * nestable模态框--(栏目列表和分类列表)
         */
        $("[data-freemodal]").click(function(){
            var me = $(this);
            var title = me.attr('data-name');
            effect.modal({
                title: title,
                confirm: function(item){}
            });
            var types = <%- error ? false : JSON.stringify(types) %> || [];
            var classify = <%- results ? results : 0 %> || [];
            var mergedList = classify.concat(types);                         //合并分类列表数据和栏目列表数据
            var optData = treeValue(mergedList,'name',title,'children');      //应用于初始化选项的数据
            effect.nestable(optData, error, '#modal-body');
            $("#normalModal").find(".dd").nestable('collapseAll');
            $("#normalModal").find('[data-action="collapse"]').click();
            $('#modal-body').find('li .dd-edit').hide();
            $('.modal-footer').children('.cancle').hide();
            $('#modal-body').find('li .dd-addon-handel').removeClass('hidden');
            $("#normalModal").find('li .dd-addon-handel').unbind("click").on("click",function(){
                var li = $(this).parent();
                $("#normalModal").find(".dd-handle").removeClass('dd-addon-click');
                $(this).siblings('.dd-handle').addClass("dd-addon-click");
                me.html(li.attr('data-name'));
                me.attr("data-val",li.attr('data-val'));
                me.siblings('input').val(li.attr('data-val'));
                //$("#normalModal").toggle();
            });
        });


        //规格相关
        //初始化nestable数据结构
        effect.nestable(specData,spec.stat,'#oper-spec-nes',spec.id);
        //初始化数据到规格项明细表
        if(specData.length) spec.initData(specoption);
        $('#nestable-spec').nestable({group: 1}).on('change', updateOutput);
        $('#nestable-spec .dd').nestable('collapseAll');
        $("#nestable-spec handel-nestable-spec").remove();
        //处理规格项操作相关的值
        (function(){
            $("#oper-spec").click(function(){
                $("#oper-spec-nes").fadeToggle();
                $("#spec-table").fadeToggle();
            })
            $("#" +spec.id).nestable({group: 1}).on('change',function(e){
                spec.data = updateOutput(e);
                spec.readData();
            });
            spec.reset();
        })()
    } 
    /**
     * 规格项相关
     */
    var specData = <%- locals.specTree ? JSON.stringify(specTree): false %> || [{name:'规格名称',val:'spec-' + (new Date()).valueOf()}];
    var specoption = <%- locals.specoption ? JSON.stringify(specoption): false %> || [];
    var spec = {
        stat: 0,            //接收到的服务端数据状态
        id: 'nestable-spec',//规格容器id
        data:[],            //项数据
        reset: function(){
            this.dataSync();
            this.edit();
            this.plus();
            this.minus();
            
            return this;
        },

        //添加项操作
        plus : function(){
            $('.plus').unbind('click').on('click',function(e){
                var curEl = $(this).parent().parent();
                var html = $(curEl[0].outerHTML);
                if(html.find('ol').length){
                    html = html.find('ol').remove();
                }
                curEl.after($(html).attr('data-val','spec-' + (new Date()).valueOf()));
                spec.reset();
                $("#" +spec.id).nestable({group: 1}).change();
            });
        },

        //编辑项操作
        edit: function(){
            $("#" +this.id + " .dd-list>li .dd-edit .fa-edit").unbind('click').on("click",function(e){
                var initVal = $(this).parent().prev().find('.dd-val').html();
                var input = $(this).siblings('input')
                input.removeClass("hidden").val(initVal).fadeIn().focus();
            });
        },
        //删除项操作
        minus : function(){
            $('.minus').unbind('click').on('click',function (e) {
                var that = this;
                swal({
                    title: "您确定要删除这项规格吗",
                    text: "删除后将无法恢复，请谨慎操作！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "删除",
                    cancelButtonText: "取消",
                    closeOnConfirm: false
                }, function () {
                    var li = $(that).parent().parent();
                    var ol = li.parent();
                    if(!li.siblings().length && (ol.parent().attr('id') == "nestable-spec")){
                        return swal("删除失败！", "这已经是根节点，不能删除！", "success");
                    }
                    li .remove();
                    swal("删除成功！", "您已经永久删除了这条信息。", "success");
                    $("#" +spec.id).nestable({group: 1}).change();
                });
            });
        },
        
        //数据同步
        dataSync : function(){
            $(".dd-list>li .dd-edit input").unbind('keyup').on('keyup',function(e){
                //同步列表名称
                $(this).parent().prev().find('.dd-val').html($(this).val());
                //同步列表数据
                $(this).parent().parent().attr('data-name',$(this).val());
            })
            //隐藏input框
            $(".dd-list>li .dd-edit input").unbind('blur').on('blur',function(e){
                $(this).removeClass("hidden").fadeToggle();
                $("#" +spec.id).nestable({group: 1}).change();
            })
        },

        //序列化规格表数据
        serializeTable: function(){
            //向表单写入商品规格数据
            $('input[name="specname"]').val(btoa(encodeURI(JSON.stringify(spec.specName()))));
            $('input[name="specitem"]').val(btoa(encodeURI(JSON.stringify(spec.specItem()))));
            $('input[name="specoption"]').val(btoa(encodeURI(JSON.stringify(spec.outSpec()))));
        },

        //关于规格表项
        initData: function(specoption){
            this.readData(); //读取规格项数据到表
            for(var i = 0; i < specoption.length; i++){
                var title = specoption[i].title.replace(/_/g,',');
                var marketprice = specoption[i].marketprice;
                var stock = specoption[i].stock;
                var remark = specoption[i].remark;
                $("#spec-table").find('input[data-option="'+title+'"][name="spec_marketprice"]').val(marketprice);
                $("#spec-table").find('input[data-option="'+title+'"][name="spec_stock"]').val(stock);
                $("#spec-table").find('input[data-option="'+title+'"][name="spec_remark"]').val(remark);
            }
        },

        //读取规格项数据到表
        readData : function(){
            var specView = $("#spec-table");
            
            var sTr = '<tr>';
            var eTr = '</tr>';
            var addonTh = `<th>价格(元) &nbsp;&nbsp;<span class="fa fa-paint-brush auto-fill" style="color:#DEE5E7"></span></th>
            <th>库存 &nbsp;&nbsp;<span class="fa fa-paint-brush auto-fill" style="color:#DEE5E7"></span></th>
            <th>备注 &nbsp;&nbsp;<span class="fa fa-paint-brush auto-fill" style="color:#DEE5E7"></span></th>`;
            
            //添加表头
            var addItem = $("#" + spec.id + ">.dd-list").children('.dd-item');
            addItem.each(function(i,val){
                sTr += '<th>' + $(val).attr('data-name') + '</th>';
            });
            specView.html(sTr + addonTh + eTr);
            
            
            //添加行
            var tbody = $("#spec-table").find('tbody');
            var th = tbody.find('th');
            //绘表
            var thTotal = th.length;
            //总列数
            var cols = thTotal - 3;     //减去附加单元格数量
            //总行数
            var rows = 1;
            for(var i = 0; i < cols; i ++){
                rows = rows * spec.childLists(i).length;
            }
            
            //创建表
            var table = spec.createTab(cols,rows);
            var itemVal = '';
            tbody.append(table);
            
            //设置表单元格信息
            for(var c = cols-1; c >= 0; c --){
                var items = spec.childLists(c);
                var childItems = (c == cols-1) ? [''] : spec.childLists(c+1);
                
                //将一个组的信息载入一列
                if(c == cols-1){
                    for(var g = 0; g < rows; g += items.length){
                        for(var ge = 0; ge < items.length; ge ++){
                            itemVal = items[ge];
                            tbody.children().eq(g+ge+1).children().eq(c).html(itemVal).attr('spec_option',itemVal);
                        }
                    }
                }else{
                    var times = 0;
                    var size = spec.getSize(c+1,cols);
                    for(var g = 0; g < rows; g += size){
                        itemVal = items[times];
                        tbody.children().eq(g+1).children().eq(c).html(itemVal).attr('spec_option',itemVal);
                        //补充被跳过单元格的属性
                        for(var gs = 1; gs < size; gs++){
                            tbody.children().eq(g + 1 + gs).children().eq(c).attr('spec_option',itemVal);
                        }
                        times ++;
                        if(times == (items.length)) times = 0;
                    }
                }
            }

            //将spec_option值映射到每行中赋值单元格的属性
            this.item2options();
            //设置表样式
            this.setCss();
            this.setColspan();
        },

        //获取父项步长
        //col 当前所在的列
        getSize : function(col,cols){
            var items = [];
            var size = 1;
            for(var c = col; c <= cols; c ++){
                items = spec.childLists(c);
                size = size * (items.length || 1);
            }
            return size;
        },

        //获取子规格项
        childLists : function(i){
            var addItem = $("#"+spec.id+">.dd-list").children('.dd-item');
            var ddList = addItem.eq(i).children(".dd-list");
            var td = [];
            ddList.each(function(i1,v){
                $(v).children('li').each(function(i2,v){
                    var val = $(v).attr('data-name');
                    td.push(val);
                });
            });
            return td;
        },

        //创建表
        createTab : function(cols,rows) {
            var addonTd = `<td><input class="spec_option text-center" data-option="" type='number' name='spec_marketprice' value=''></td>
                            <td><input class="spec_option text-center" data-option="" type='number' name='spec_stock' value=''></td>
                            <td><input class="spec_option text-center" data-option="" type='text' name='spec_remark' value=''></td>`;
            var str = "<tr onfocusout='spec.serializeTable()'>";
            var etr = "</tr>";
            var tr = '';
            var tem = '';
            for(var i = 0; i < cols; i ++){
                str += "<td class='spec_item'>init</td>";
            }
            tr = str + addonTd + etr;
            for(var j = 0; j < rows; j ++){
                tem += tr;
            }
            
            return tem;
        },

        //将spec_option值映射到每行中赋值单元格的属性
        item2options : function(){
            var trOpts = $("#spec-table").find('tbody').children();
            
            trOpts.each(function(i, v){
                var option = [];
                $(v).children('.spec_item').each(function(i0,v0){
                    option.push($(v0).attr('spec_option'));
                });
                option = option.join(',');
                $(v).find('.spec_option').attr('data-option',option);
            });
            
        },

        //设置表样式
        setCss : function(){
            var table = $("#spec-table");
            table.find('tr').css({
                height:'2em',
            });
            table.find("th").addClass('col-md-1');
            table.find("th").css({
                border:'1px solid #dee5e7',
                'text-align':'center'
            });
            table.find("td").css({
                border:'1px solid #dee5e7',
                'text-align':'center'
            });
            table.find('input').css({
                display:"inline-block",
                width:'100%',
                height:'100%',
                border:0
            });
        },

        //设置跨行
        setColspan : function(){
            //预设20列遍历对象
            var cols = 5;
            var tbody = $("#spec-table").find('tbody');
            var checkObj;
            //找到值为init的单元格
            for(var i = cols-1; i >= 0; i--){
                var rowspan0 = '';
                var rowspan1 = [];
                tbody.children().each(function(i0,val0){
                    checkObj = $(val0).children().eq(i)
                    
                    if((i0 == tbody.children().length-1) && (checkObj.html() == 'init')) rowspan1.push(checkObj);
                    if(((checkObj.html() != 'init') || (i0 == tbody.children().length-1)) && rowspan1.length){
                        var rowNum = rowspan1.length + 1;
                        for(var j = 0; j < rowspan1.length; j ++){
                            rowspan1[j].remove();
                        }
                        rowspan0.attr('rowspan',rowNum);
                        rowspan1 = [];
                    }
                    (checkObj.html() == 'init') ? rowspan1.push(checkObj) : (rowspan0 = checkObj);
                });
            }
        },

        //获取规格项名称（用于表单提交时,与commidity_spec中的title对应）
        specName: function(){
            var specName = [];
            $("#" + this.id + ">.dd-list").children('.dd-item').each(function(i,val){
                specName.push($(val).attr('data-name'));
            });
            return specName;
        },

        //获取规格item名称（用于表单提交时,与commidity_specitem中的title对应）
        specItem : function(){
            var specItme = [];
            for(var i = 0; i < spec.specName().length; i ++){
                specItme.push(spec.childLists(i));
            }
            return specItme;
        },

        //输出表中商品规格数据(用于表单提交时,与commidity_option中的title对应)
        outSpec : function(){
            var trOpts = $("#spec-table").find('tbody').children();
            var specOtions = [];
            trOpts.each(function(i,v){  //每一行
                if(i === 0) return;
                specOtions.push({
                    title : '',
                    options : []
                });

                $(v).find('.spec_option').each(function(i0,v0){
                    specOtions[i-1].title = $(v0).attr('data-option');
                    specOtions[i-1].options.push({
                        name : $(v0).attr('name'),
                        value : $(v0).val()
                    });
                });
            });
            
            return specOtions;
        }
    }

</script>

<script>
    //选项卡相关
    $("a[data-toggle='tab']").click(function(){
        $(".table").addClass('hidden');
        $($(this).attr('data-target')).removeClass('hidden');
    });

    //初始化表单的值
    var recodData = {
            error: <%- error %>,
            data: <%- JSON.stringify(data[0]); %>
        }
        
    DL({
        dev: 'on',
        id: "#add-infor",
        packet: recodData,
        clearCode: true,
        after: function(){
            //加载ueditor
            $("iframe").attr('src','/admin/arc/ueditor');

            $("iframe").load(function(){
                UE.frame = $("iframe").eq(0);
                //读取UE内容
                UE.contents = function(){
                    var ue = UE.frame[0] ? UE.frame[0].contentWindow.ue : {getContent:function(){}};
                    return ue.getContent();
                }
                //标识UE是否全屏
                UE.full =  false;

                //绑定ue全屏件事
                UE.frame.contents().find("#edui3_body").click(function(){
                    UE.full ? $(".ueditor-box").removeClass('full-screen'):
                    $(".ueditor-box").addClass('full-screen');
                    UE.full = UE.full ? false : true;
                });

                //绑定ue获取内容事件
                $('button[type="submit"]').mouseover(function(){
                    $("#ue-contents").val(UE.contents());
                });
                
                var wt = setInterval(function(){
                    (typeof UE.time == 'number') ?  UE.time ++ : UE.time = 0;
                    if(UE.time > 4) {
                        app.notice({
                            error: 1,
                            message: 'UEditor 加载超时！'
                        });
                        return clearInterval(wt);
                    }
                    if(!UE.frame[0].contentWindow.ue.body) return;
                    clearInterval(wt);
                    var field = UE.uediterFields[0];
                    UE.frame[0].contentWindow.ue.setContent(recodData.data[field]); //将字段对应的值展示到ueditor中
                },500)

                initNestable();
                
                /**
                 * 初始化地址输入框控制部分
                 */
                addressPice.initAddr();
            });
        }
    });

</script>


<script>
    app.load(".add-infor");
    effect.switch(".mui-switch",'是','否');
    effect.setDefVal(".add-infor");     //设置页面默认值
    effect.setComments(".add-infor");
    effect.setCheckbox(".auto-checkbox");
    effect.setRadio(".radio-content-state");
    effect.setRadio(".auto-radio");
    effect.setSelect(".auto-select");

    function save(res){
        app.notice(res);
    }
</script>

<!-- 输出视逻辑代码 -->
<%- cropperAsync %>
<script>
    /**
     * 图片上传处理器
     * */
    var uploader = {
        index: 0,
        picBox: ''
    }
    
    //定位picBox
    $("label.img-add").unbind('click').on('click',function(){
        uploader.picBox = $(this).parentsUntil('.pic-box').parent().eq(0);
    });

    //图片上传回调处理
    function upProcess(data){
        var info = {
            error : 1,
            message : "上传失败，请重新上传！"
        };
        if(data.state != 1) return app.notice(info);
        var addObj =   `<div class="img-handl" data-img="img-add-`+ uploader.index +`">
                <span class="fa fa-close fa-size"></span>
                <img src="/` + data.url + `" />
            </div>`;
            
        uploader.picBox.find(".img-add").before($(addObj));
        uploader.picBox.append($('<input type="hidden" data-img="img-add-'+ uploader.index +'" name="'+ uploader.picBox.attr('data-field') +'"  value="/'+ data.url +'" />'));
        info.message = "恭喜您上传成功！";
        app.notice(info);
        uploader.index ++;

        setEffect();
    }
    function setEffect(){
        $(".img-handl").unbind('mouseover').on("mouseover",function(e){
            $(this).find(".fa-size").css({
                visibility : 'visible'
            });
        })
        $(".img-handl").unbind('mouseout').on("mouseout",function(e){
            $(this).find(".fa-size").css({
                visibility : 'hidden'
            });
        })
        //删除上传的图片
        $(".img-handl").unbind('click').on("click",function(e){
            var dataImg = $(this).attr('data-img');
            $('[data-img='+ dataImg +']').remove();
            var arr = dataImg.split('-');
            var index = arr[arr.length - 1];
            delete j[index];
            if(j.length) j.length --;
            setEffect()
        })
        //控制添加按钮显示与隐藏
        var picBox = uploader.picBox ? [uploader.picBox] : $('.pic-box');
        $(picBox).each(function(index,item){
            var limit = $(item).attr('data-limit');//设置显示张数
            $(item).find(".replaceImg-label").children().hide();
            $(item).find(".replaceImg-label").children(":lt(" + limit + ")").show();
        });

    } 
    //效果初始化
    setEffect();
</script>

<!-- 页面结构控制  当tbody中有0个tr时，删除该table和对应的选项卡-->
<script>
    (function(){
        $(".page-struct").each(function(i, opt){
            if(!$(opt).children("tr").length){
                var select = "#" + $(opt).parent().attr('id');
                $('.nav-tabs').find("a[data-target='"+select+"']").parent().remove();
                $(opt).parent().remove();
            }
        });
    })()
    
</script>
<!-- 第三方表单多记录控制 -->
<script>
    delete window.tbodyCopyIncrement;
    $(".tbody-copy-increment").click(function(){
        var table = $(this).parentsUntil('table').parent();
        var tbody = table.find('tbody');
        var trHTML = window.tbodyCopyIncrement ? window.tbodyCopyIncrement.html : tbody.html();
        if(!window.tbodyCopyIncrement) {
            window.tbodyCopyIncrement = {
                html: trHTML,
                length: tbody.children().length
            }
        }
        tbody.append(trHTML);
    });
    $(".tbody-copy-reduction").click(function(){
        var table = $(this).parentsUntil('table').parent();
        var tbody = table.find('tbody');
        if(!window.tbodyCopyIncrement) {
            window.tbodyCopyIncrement = {
                length: 0
            }
        }
        var length = window.tbodyCopyIncrement.length ;
        if(tbody.children().length <= length) return;
        for(length; length > 0; length--){
            tbody.find("tr:last-child").remove();
        }
    });
</script>
