<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>单页面测试</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link href="/bootstrap/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1046753_ens6fid7yic.css"/>
    <script src="/bootstrap/js/jquery.min.js"></script>
    <script src="/bootstrap/js/jquery.md5.js"></script>
    <script src="/javascripts/app/autoload.js"></script>
    <style>
        .container{padding-left:0;padding-right:0;}
    </style>
</head>
<body>
    <div class="container">
    <!-- 内容区 -->

        <!-- 页头 -->
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="page-header">
                    <h1>
                        Example page header <small>Subtext for header</small>
                    </h1>
                </div>
            </div>
        </div>
        
        <!-- 引用块 -->
        <div class="row clearfix">
            <div class="col-md-12 column">
                <blockquote>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    </p> <small>Someone famous <cite>Source Title</cite></small>
                </blockquote>
            </div>
        </div>

        <!-- 段落 -->
        <div class="row clearfix">
            <div class="col-md-12 column">
                <p>
                        <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在 <small>Ruby</small> 社区中。
                </p>
            </div>
        </div>




    <!-- 内容区 -->
    </div>
    <code id="tempCode"></code>
    <!-- 全局js -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/app/app.js"></script>
    <script src="/javascripts/app/dataAsync.js"></script>
</body>

</html>