<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-25 11:08:34
 * @LastEditTime: 2019-08-20 17:05:59
 * @LastEditors: Please set LastEditors
 -->
<div class="container-fluid base">
    <div class="row head">
        <div class="col-xs-12">
            <span>系统管理-栏目管理</span>
        </div>
    </div>
    
    <div class="row ibox-content">
        <div class="col-sm-12">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>栏目列表</h5>
            
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">选项 01</a>
                                </li>
                                <li><a href="#">选项 02</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <input type="text" data-name="选择栏目名称" data-freemodal="type" class="form-control input-sm m-b-xs" id="filter" placeholder="搜索栏目名称...">
                        <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                            <thead>
                                <tr>
                                    <th>栏目名称</th>
                                    <th data-sort-ignore="true">关键词</th>
                                    <th data-sort-ignore="true">隐藏栏目</th>
                                    <th data-sort-ignore="true">操作</th>
                                </tr>
                            </thead>
                            <tbody id="type-list">
                                <tr class="grade{{- return index%2?'C':'A'; }}">
                                    <td>{{typename}}</td>
                                    <td>{{keywords}}</td>
                                    <td class="hidden">{{- return treeValue(types,'id',topid,'typename'); }}</td>
                                    <td style="padding-left:26px;">                                       
                                            <label><input class="mui-switch mui-switch-anim" {{- return ishidden?"checked":""; }} type="checkbox" value="{{ishidden}}"><em></em></label>                                      
                                    </td> 
                                    <td class="project-actions">
                                        <a onclick='go("/admin/type/edt/ctag/<%= ctag %>?atid={{id}}")' class="btn btn-white btn-sm"><i class="fa fa-pencil" style="color:#44ABF7"></i> 编辑 </a>
                                        <a href="javascript:void(0)" data-async="POST" data-alert='alert' data-uri="/admin/type/del/ctag/<%= ctag %>?atid={{id}}" class="btn btn-white btn-sm"><i class="fa fa-trash" style="color:#44ABF7"></i> 删除 </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 全局js -->
<script src="/bootstrap/js/plugins/footable/footable.all.min.js"></script>
<script src="/bootstrap/js/plugins/nestable/jquery.nestable.js"></script>

<%- //print_r(data) %>

<script>
    var error = <%- error %>;
    var data = <%- JSON.stringify(data) %>;
    var types = <%- error ? false : JSON.stringify(allType) %> || [];
    app.addonParams = {oid: getItem("OID")}
                
           
    DL({
        dev: "on",
        listId: "#type-list",
        clearCode: 1,
        packet: {
            error: data.length ? error : 1,
            data: data
        },
        after: function(){
            $('.footable').footable();
            effect.switch(".mui-switch", '显示', '隐藏');
            
            app.load("#type-list");
        }
    });

    /**
     * nestable模态框--(栏目列表和分类列表)
     */
     $("[data-freemodal]").click(function(){
        var me = $(this);
        var title = me.attr('data-name');
        effect.modal({
            title: title,
            confirm: function(item){}
        });
        effect.nestable(types, error, '#modal-body');
        $("#normalModal").find(".dd").nestable('collapseAll');
        $("#normalModal").find('[data-action="collapse"]').click();
        $('#modal-body').find('li .dd-edit').hide();
        $('.modal-footer').children('.cancle').hide();
        $('#modal-body').find('li .dd-addon-handel').removeClass('hidden');
        $("#normalModal").find('li .dd-addon-handel').unbind("click").on("click",function(){
            var li = $(this).parent();
            $("#normalModal").find(".dd-handle").removeClass('dd-addon-click');
            $(this).siblings('.dd-handle').addClass("dd-addon-click");
            me.val(li.attr('data-name'));
            //me.attr("data-val",li.attr('data-val'));
            //me.siblings('input').val(li.attr('data-val'));
            me.keyup();
        });
    });

    /**
     * 数据删除后状态调用 
     */
     function del(res){
        delete res.uri;
        app.notice(res,function(){
            if(!res.error) go('/admin/type/index/ctag/' + res.ctag);
        });
    }
</script>