<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-25 11:08:34
 * @LastEditTime: 2019-08-22 10:42:39
 * @LastEditors: Please set LastEditors
 -->
<style>
    .shouye{
        min-width: 1680px;
        max-width: none !important; 
    }

</style>
<div class="container-fluid shouye">
    <div class="row index">
        <div class="col-xs-12 ">
        <span class="h4">首页</span>
        <span class="pull-right u">您好，欢迎使用平台 ！</span>
        </div>  
    </div>
    <div class="row navtar">
        <ul class="list-inline ">
            <li class="li" style="background-color:#129AEC">
                <a href="">
                 <span class="col-xs-4">
                     <i class="iconfont icon-jianzhu"></i>
                    </span>
                  <div class="col-xs-8">
                     <ul class="list-unstyled">
                         <li>在建工程</li>
                         <li>9543</li>
                     </ul>
                  </div>
                </a>
            </li>
            <li class="li" style="background-color:#04BDD9">
                <a href="">
                    <span class="col-xs-4">
                        <i class="iconfont icon-qiyemenhu"></i>
                    </span>
                    <div class="col-xs-8">
                        <ul class="list-unstyled">
                            <li>企业数据</li>
                            <li>84111</li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="li" style="background-color:#1BD327">
                <a href="">
                    <span class="col-xs-4">
                        <i class="iconfont icon-denglu1"></i>
                    </span>
                    <div class="col-xs-8">
                        <ul class="list-unstyled">
                            <li>人员数据</li>
                            <li>5648</li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="li" style="background-color:#6E6BFC">
                <a href="">
                    <span class="col-xs-4">
                        <i class="iconfont icon-gouwuchekong"></i>
                    </span>
                    <div class="col-xs-8">
                        <ul class="list-unstyled">
                            <li>商城数据</li>
                            <li>159845</li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="li" style="background-color:#31479A">
                    <a href="">
                        <span class="col-xs-4">
                            <i class="iconfont icon-qiyemenhu"></i>
                        </span>
                        <div class="col-xs-8">
                            <ul class="list-unstyled">
                                <li>房屋数据</li>
                                <li>84111</li>
                            </ul>
                        </div>
                    </a>
                </li>
                <li class="li" style="background-color:#41BF47">
                    <a href="">
                        <span class="col-xs-4">
                            <i class="iconfont icon-denglu1"></i>
                        </span>
                        <div class="col-xs-8">
                            <ul class="list-unstyled">
                                <li>会员数据</li>
                                <li>5648</li>
                            </ul>
                        </div>
                    </a>
                </li>
                <li class="li" style="background-color:#FE643E">
                <a href="">
                    <span class="col-xs-4">
                        <i class="iconfont icon-gouwuchekong"></i>
                    </span>
                    <div class="col-xs-8">
                        <ul class="list-unstyled">
                            <li>金融数据</li>
                            <li>159845</li>
                        </ul>
                    </div>
                </a>
            </li>          
        </ul>  
    </div>
    <div class="row">
       <%- include('./engineeringData.html') %>
       <%- include('./engineeringAnalysis.html') %>
    </div>
    <div class="row chinaMap">
        <%- include('./chinaMap.html') %>
        <%- include('./table_foo.html') %>
    </div>
</div>
<%- //print_r(locals.sysBasic) %>
<%- print_r(locals.sysOptions) %>

