<!-- passport up_mix_width_main5_1.html -->
<!-- 注册帐户部分 -->
<div id="signup-box" class="signup-box widget-box no-border visible">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header green lighter bigger">
                    <i class="ace-icon fa fa-users blue"></i>
                    新用户注册
                </h4>

                <div class="space-6"></div>
                <p> 填写您的注册信息： </p>

                <form method="post" action="/passport/sign/_up" data-form-async='json'>
                    <fieldset>
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <input type="email" class="form-control" name="email" value=" " placeholder="输入用于注册的Email" />
                                <i class="ace-icon fa fa-envelope"></i>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" name="uname" value="" placeholder="输入用于注册的用户名称" />
                                <i class="ace-icon fa fa-user"></i>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <input type="tel" class="form-control" name="tel" value="" placeholder="输入与帐户绑定的手机号" />
                                <i class="ace-icon fa fa-bell-o"></i>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="password" placeholder="输入密码" />
                                <i class="ace-icon fa fa-lock"></i>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" placeholder="再次输入密码" />
                                <i class="ace-icon fa fa-retweet"></i>
                            </span>
                        </label>

                        <label class="block">
                            <input type="checkbox" class="ace" />
                            <span class="lbl">
                                已经仔细阅读
                                <a href="#">用户使用协议</a>
                            </span>
                        </label>

                        <div class="space-24"></div>

                        <div class="clearfix">
                            <button type="reset" class="width-30 pull-left btn btn-sm">
                                <i class="ace-icon fa fa-refresh"></i>
                                <span class="bigger-110">重新填写</span>
                            </button>

                            <button type="submit" disabled=true class="width-65 pull-right btn btn-sm btn-success">
                                <span class="bigger-110">提交资料</span>

                                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="toolbar center">
                <a href="/snow/sign/_in" class="back-to-login-link">
                    <i class="ace-icon fa fa-arrow-left"></i>
                    返回登录
                </a>
            </div>
        </div><!-- /.widget-body -->
    </div><!-- /.signup-box -->
    <!-- 注册帐户部分 end-->
</div><!-- /.position-relative -->

<script>
    $('input[type="password"]').change(function(){
        var passwordItems = $('input[type="password"]');
        
        $('button[type="submit"]').attr('disabled',true);
        if(passwordItems.eq(0).val() != passwordItems.eq(1).val()) return app.notice({error:1,message:"两次输入的密码不一致！"});
        $('button[type="submit"]').removeAttr('disabled');
        
    });

    function _up(res){
        app.notice(res)
    }
</script>