<div class="container-fluid base">
    <div class="row head">
        <div class="col-xs-12">
            <span>系统管理-系统设置-基本设置</span>
        </div>
    </div>
    <div class="row tips">
        <div class="col-xs-12">
            <p class="ti"><i class="iconfont icon-yiliaohangyedeICON-">&nbsp;</i>操作提示</p>
           <div class="col-xs-12">
                <p class="indent">基本设置由：“安全设置、验证码设置、网站LOGO、地图设置、缓存设置、”组成。</p>              
           </div>
        </div>
    </div>
    <div class="row form">
        <form action="" method="">
           <table class="table">
               <thead>
                   <tr>
                        <th class="col-xs-2">参数说明</th>
                        <th>参数值</th>
                   </tr>
               </thead>
               <tbody>
                  <tr>
                    <td>网站名称：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control" id="name"  placeholder="网站名称"/>
                        </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：友邦拉拉工程信息平台</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>网站地址：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control" id="name"  placeholder="网站地址"/>
                        </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：http://www.youbanglala.com</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>网站开启：</td>
                    <td style="padding-left:26px; ">
                        <label><input class="mui-switch mui-switch-anim" type="checkbox" checked></label>
                    </td>              
                  </tr>
                  <tr>
                    <td>后台列表页显示条数：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control" id="name"  placeholder="请输入名称"/>
                        </div>
                        <span style="line-height: 40px;">条</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>网站关闭原因：</td>
                    <td>
                        <div class="form-group col-xs-5">
                            <textarea class="form-control" rows="3" style="height: 100px"></textarea>
                         </div>
                       
                    </td>              
                  </tr>
                  <tr>
                    <td>网站版权信息：</td>
                    <td>
                        <div class="form-group col-xs-5">
                            <textarea class="form-control" rows="3" style="height: 100px"></textarea>
                         </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;提示：© 可复制使用</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>网站关键词：</td>
                    <td>
                        <div class="form-group col-xs-5">
                            <textarea class="form-control" rows="3" style="height: 100px"></textarea>
                         </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;提示：网站关键词作为公共部分详细设置请到系统-》SEO设置单独设置</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>网站描述：</td>
                    <td>
                        <div class="form-group col-xs-5">
                            <textarea class="form-control" rows="3" style="height: 100px"></textarea>
                         </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;提示：网站描述作为公共部分，详细设置请到系统-》SEO管理设置</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>站长EMAIL：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control" id="name"  placeholder="请输入名称"/>
                        </div>
                        
                    </td>              
                  </tr>
                  <tr>
                    <td>站长手机：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control" id="name"  placeholder="请输入名称"/>
                        </div>
                       
                    </td>              
                  </tr>
                  <tr>
                    <td>站长传真：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control" id="name"  placeholder="请输入名称"/>
                        </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：0859-88888888</span>
                    </td>              
                  </tr>
                  
                  <tr>
                    <td>备案号：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control" id="name"  placeholder="请输入名称"/>
                        </div>
                    </td>              
                  </tr>
                  <tr>
                    <td>客服电话：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control" id="name"  placeholder="请输入名称"/>
                        </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：888-8888-888</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>工作时间：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control" id="name"  placeholder="请输入名称"/>
                        </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：工作日 9:00-18:00</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>客服QQ：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control" id="name"  placeholder="请输入名称"/>
                        </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;多个则用半角逗号隔开！</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>公司地址：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control" id="name"  placeholder="请输入名称"/>
                        </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：黔西南兴义市某某街道某某号</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>统计代码：</td>
                    <td>
                        <div class="form-group col-xs-5">
                            <textarea class="form-control" rows="3" style="height: 100px"></textarea>
                         </div>
                    </td>              
                  </tr>
                 
               </tbody>
               <tfoot>
                  <tr>
                      <td></td>
                      <td>
                            <button type="button" class="btn">确定</button>
                            <button type="button" class="btn">重置</button>
                      </td>
                  </tr>
               </tfoot>
           </table>
        </form>
    </div>
</div>