<div class="container-fluid base">
    <div class="row head">
        <div class="col-xs-12">
            <span>系统管理-系统设置-安全设置</span>
        </div>
    </div>
    <div class="row tips">
        <div class="col-xs-12">
            <p class="ti"><i class="iconfont icon-yiliaohangyedeICON-">&nbsp;</i>操作提示</p>
           <div class="col-xs-12">
                <p class="indent">安全设置由：“安全设置、验证码设置、网站LOGO、地图设置、缓存设置、”组成。</p>              
           </div>
        </div>
    </div>
    <div class="row form">
        <form action="" method="">
           <table class="table">
               <thead>
                   <tr>
                        <th class="col-xs-2">参数说明</th>
                        <th>参数值</th>
                   </tr>
               </thead>
               <tbody>
                 
                  <tr>
                    <td>Memcache缓存：</td>
                    <td style="padding-left:26px;">
                        <label><input class="mui-switch mui-switch-anim" type="checkbox" ><em></em></label>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;" placeholder="127.0.0.1"></i>&nbsp;注：如果服务器上未安装Memcache,则不要开启此项。</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>Memcache服务器：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control"   placeholder="127.0.0.1 "/>
                        </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;" placeholder="127.0.0.1"></i>&nbsp;服务器IP，本机127.0.0.1</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>Memcache端口：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control"   placeholder="11211 "/>
                        </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;" placeholder="127.0.0.1"></i>&nbsp;默认11211</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>Memcache缓存时间：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control"   placeholder="3600 "/>
                        </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;" placeholder="127.0.0.1"></i>&nbsp;秒为单位,一般为3600秒</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>页面缓存：</td>
      
                    <td style="padding-left:26px;">
                        <label><input class="mui-switch mui-switch-anim" type="checkbox" checked ><em></em></label> 
                    </td> 
                        
                  </tr>
                  <tr>
                    <td>页面缓存时间：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control"   placeholder="1000 "/>
                        </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;" placeholder="127.0.0.1"></i>&nbsp;秒为单位,一般为3600秒</span>
                    </td>              
                  </tr>
                  <tr>
                    <td>smarty缓存：</td>
                    <td style="padding-left:26px;">
                        <label><input class="mui-switch mui-switch-anim" type="checkbox" checked><em></em></label>
                    </td>              
                  </tr>
                  <tr>
                    <td>smarty缓存时间：</td>
                    <td>
                        <div class="form-group col-xs-4">
                            <input type="text" class="form-control"   placeholder="3600 "/>
                        </div>
                        <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;" placeholder="127.0.0.1"></i>&nbsp;秒为单位,一般为3600秒</span>
                    </td>              
                  </tr>
                  
               
                 
               </tbody>
               <tfoot>
                  <tr>
                      <td></td>
                      <td>
                            <button type="submit" class="btn">确定</button>
                            <button type="reset" class="btn">重置</button>
                      </td>
                  </tr>
               </tfoot>
           </table>
        </form>
    </div>
</div>
<script src="/bootstrap/js/switch.js"></script>