<style>
span.jingdu {      
    position: absolute; 
    line-height: 40px;
}
</style>
<div class="container-fluid base base_saveMapSet">
    
    <div class="row head">
            <div class="col-xs-12">
                <span>系统管理-系统设置-LOGO    设置</span>
            </div>
        </div>
        <div class="row tips">
            <div class="col-xs-12">
                <p class="ti"><i class="iconfont icon-yiliaohangyedeICON-">&nbsp;</i>操作提示</p>
            <div class="col-xs-12">
                    <p class="indent">安全设置由：“安全设置、验证码设置、网站LOGO、地图设置、缓存设置、”组成。</p>              
            </div>
            </div>
        </div>  
        <div class="row form">
            <form data-form-async='json' action="/admin/sys/saveMapSet" method="POST" onsubmit="return check()">
                <input type="hidden" name="updateData" value=""/>
            <table class="table">
                <thead>
                    <tr>
                            <th class="col-xs-2">参数说明</th>
                            <th>参数值</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>IP跳转到当前城市：</td>
                            <td>
                                <div class="radio i-checks">
                                    <% if(list[0].key1.urlMap=="1"){ %>
                                    <label>
                                        <input type="radio"  value="1" name="urlMap" checked/> <i></i> 跳转
                                    </label>
                                    <label>
                                        <input type="radio"  value="0" name="urlMap"/> <i></i> 保持默认坐标
                                    </label>
                                    <% }else{ %>
                                    <label>
                                        <input type="radio"  value="1" name="urlMap" /> <i></i> 跳转
                                    </label>
                                    <label>
                                        <input type="radio"  value="0" name="urlMap" checked/> <i></i> 保持默认坐标
                                    </label>
                                    <% } %>
                                </div>                        
                            </td>              
                        </tr>   
        <tr>
                <td>百度地图KEY：</td>
                <td>
                    <div class="form-group col-xs-4">
                        <input type="text" class="form-control" id="name" name="mapKey" placeholder="F9bfbeb26054d97898571a1df965d8af" value="<%=list[0].key1.mapKey%>"/>
                    </div>
                    <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp; 
                    <a href="http://lbsyun.baidu.com/apiconsole/key?application=key" target="_blank">申请地址</a> 地图版本：1.5 </span>
                </td>              
            </tr>
        
            
            <tr>
                <td>默认坐标：</td>
                <td>
                    <div class="form-group">
                        
                        <div class="col-xs-2">
                                <span class="jingdu">X:</span><input type="text" class="form-control" name="x" value="<%=list[0].key1.x%>" placeholder="请输入用经度"  style="margin-left: 18px;" id="lng"/>
                        </div>
                        <div class="col-xs-2">
                                <span class="jingdu">Y:</span><input type="text" class="form-control" name="y" value="<%=list[0].key1.y%>" placeholder="请输入用纬度"  style="margin-left: 18px;" id="lat"/>
                        </div>
                        <span style="line-height: 40px;margin-left: 10px;cursor: pointer;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;<a data-toggle="collapse" data-parent="#accordion" 
                            href="#collapseTwo">点击获取坐标</a></span>
                    </div>
                </td>
            </tr>
            <tr  id="collapseTwo" class="panel-collapse collapse">
                <td>获取坐标：</td>
                <td>
                    <table>
                        <tr>
                            <td rowspan="6">
                                <div style="width:800px; height: 300px; border: #ccc solid 1px;float: left; display: block" id="dituContent"></div>
                            </td>
                        </tr>
                    </table>   
                </td>
                </tr>
            </tbody>
                <tfoot>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <button type="submit" class="btn">确定</button>
                                <button type="reset" class="btn">重置</button>
                            </td>
                    </tr>
                </tfoot>
            </table>
            </form>
        </div>
    </div>
<script src="/bootstrap/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>
<!-- 地图 -->
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap() {
        createMap(); //创建地图
        setMapEvent(); //设置地图事件
        var gc = new BMap.Geocoder();

        var opts = {
            width: 300,     // 信息窗口宽度    如果指定的宽度为0，则信息窗口的宽度将按照其内容自动调整   
            height: 0,     // 信息窗口高度  如果指定的高度为0，则信息窗口的高度将按照其内容自动调整   
            //title: "《这里是标题》", // 信息窗口标题   
            enableMessage: false  //设置允许信息窗发送短息   
            //message:"亲耐滴，晚上一起吃个饭吧？戳看下地址喔~"  //这个是指短信内容   
        }
        map.addEventListener("click", function (e) {
            var pt = e.point;
            
            gc.getLocation(pt, function (rs) {
                console.log(rs)
                var addComp = rs.addressComponents;
                var addr;
                addr = addComp.city + addComp.district + addComp.street + addComp.streetNumber;
                var infoWindow = new BMap.InfoWindow(addr, opts);
                map.clearOverlays(); //删除之前标注
                var marker = new BMap.Marker(pt);
                map.addOverlay(marker);
                marker.openInfoWindow(infoWindow);
                document.getElementById("lng").value = pt.lng;
                document.getElementById("lat").value = pt.lat;
            });
        });
    }
    //创建地图函数：
    function createMap() {
        var map = new BMap.Map("dituContent"); //在百度地图容器中创建一个地图
        // 创建地址解析器实例
        var myGeo = new BMap.Geocoder();
        // 将地址解析结果显示在地图上,并调整地图视野
        myGeo.getPoint("兴义市", function (point) {
            if (point) {
                map.centerAndZoom(point, 14);
            }
        }, "贵州");
        window.map = map; //将map变量存储在全局
    }
    function createMaps() {
        var map = new BMap.Map("dituContent"); //在百度地图容器中创建一个地图
        // 创建地址解析器实例
        var myGeo = new BMap.Geocoder();
        // 将地址解析结果显示在地图上,并调整地图视野
        myGeo.getPoint(document.getElementById("address").value, function (point) {
            if (point) {
                map.centerAndZoom(point, 14);
            }
        }, document.getElementById("address").value);
        window.map = map; //将map变量存储在全局
    }
    //地图事件设置函数：
    function setMapEvent() {
        map.enableDragging(); //启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom(); //启用地图滚轮放大缩小
        map.enableDoubleClickZoom(); //启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard(); //启用键盘上下左右键移动地图
        map.addControl(new BMap.NavigationControl());               // 添加平移缩放控件   
        map.addControl(new BMap.ScaleControl());                    // 添加比例尺控件   
        map.addControl(new BMap.OverviewMapControl());              //添加缩略地图控件   
        // map.addControl(new BMap.MapTypeControl());          //添加地图类型控件   
    }



   

</script>
<script>
(function(window){
     var map = document.getElementById("dituContent");
        var a = 1;
        if (a == 1) {
            a = 2;
            initMap();
        }
        else {
            if (map.style.display == "none") {
                map.style.display = "block";
                initMap();
            } else {
                map.style.display = "none";
            }
        }
})(window);

$(function(){
    $('a[data-toggle="collapse"]').click(function(){
       if($(this).html()=='点击获取坐标'){
            $(this).html('关闭获取坐标')
       }else{
        $(this).html('点击获取坐标')
       }
    })
})
</script>
<script language="javascript">
    //验证问文件类型的正确性
    function check(){
        var updateData = {
            urlMap:$("input[name='urlMap']").val() || "0",
            mapKey:$("input[name='mapKey']").val() || "F9bfbeb26054d97898571a1df965d8af",
            x:$("input[name='x']").val() || "104.914611",
            y:$("input[name='y']").val() || "25.102187"
        }
        updateData = JSON.stringify(updateData);
        $("input[name='updateData']").val(updateData);
        console.log(updateData)
        return true;
    }

    app.load(".base_saveMapSet");
    app.addonParams = {oid: getItem('OID')};
    function saveMapSet(results){
        app.notice(results,function(){
            go(results.uri);
        });
    }
</script>