<div class="container-fluid base">
        <div class="row head">
            <div class="col-xs-12">
                <span>系统管理-系统设置-安全设置</span>
            </div>
        </div>
        <div class="row tips">
            <div class="col-xs-12">
                <p class="ti"><i class="iconfont icon-yiliaohangyedeICON-">&nbsp;</i>操作提示</p>
               <div class="col-xs-12">
                    <p class="indent">安全设置由：“安全设置、验证码设置、网站LOGO、地图设置、缓存设置、”组成。</p>              
               </div>
            </div>
        </div>
        <div class="row form">
            <form action="" method="">
               <table class="table">
                   <thead>
                       <tr>
                            <th class="col-xs-2">参数说明</th>
                            <th>参数值</th>
                       </tr>
                   </thead>
                   <tbody>
                     
                      
                      <tr>
                        <td>上传文件大小：</td>
                        <td>
                            <div class="form-group col-xs-4">
                                <input type="text" class="form-control"   placeholder="5"/>
                            </div><span class="lead">M</span>
                            <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;" placeholder="127.0.0.1"></i>&nbsp;允许上传文件的最大限制，单位为 M，不填则默认5M</span>
                        </td>              
                      </tr>
                      <tr>
                        <td>上传图片大小：</td>
                        <td>
                            <div class="form-group col-xs-4">
                                <input type="text" class="form-control"   placeholder="5 "/>
                            </div><span class="lead">M</span>
                            <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;" placeholder="127.0.0.1"></i>&nbsp;允许上传图片的最大限制，单位为 M，不填则默认5M</span>
                        </td>              
                      </tr>
                      <tr>
                        <td>上传图片类型：</td>
                        <td>
                            <div class="form-group col-xs-4">
                                <input type="text" class="form-control"   placeholder="jpg,png,jpeg,bmp,gif "/>
                            </div>
                            <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;" placeholder="127.0.0.1"></i>&nbsp;允许上传图片的类型，多个类型以英文逗号（,）分隔，不填则默认jpg,png,jpeg,bmp,gif</span>
                        </td>              
                      </tr>
                      <tr>
                            <td>上传文件类型：</td>
                            <td>
                                <div class="form-group col-xs-4">
                                    <input type="text" class="form-control"   placeholder="rar,zip,doc,docx,xls "/>
                                </div>
                                <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;" placeholder="127.0.0.1"></i>&nbsp;允许上传文件的类型，多个类型以英文逗号（,）分隔，不填则默认rar,zip,doc,docx,xls</span>
                            </td>              
                          </tr>
                      <tr>
                        <td>图片安全验证：</td>
          
                        <td style="padding-left:26px;">
                            <label><input class="mui-switch mui-switch-anim" type="checkbox" checked ><em></em></label>
                            <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;" placeholder="127.0.0.1"></i>&nbsp;对图片源码进行扫描，检测是否包含非法代码</span>

                        </td> 
                            
                      </tr>
                      
                      <tr>
                        <td>强制压缩图片：</td>
                        <td style="padding-left:26px;">
                            <label><input class="mui-switch mui-switch-anim" type="checkbox" checked><em></em></label>
                            <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;" placeholder="127.0.0.1"></i>&nbsp;根据图片原始比例重新压缩成新图片，彻底去除图片中可能包含的非法代码，但有可能会影响图片清晰度</span>
                            
                        </td>              
                      </tr>
                   </tbody>
                   <tfoot>
                      <tr>
                          <td></td>
                          <td>
                                <button type="submit" class="btn">确定</button>
                                <button type="reset" class="btn">重置</button>
                          </td>
                      </tr>
                   </tfoot>
               </table>
            </form>
        </div>
    </div>
    <script src="/bootstrap/js/switch.js"></script>
         