<link rel="stylesheet" href="/bootstrap/css/v3.css"/>
<div class="container-fluid base base_manage">
    <div class="row head">
        <div class="col-xs-12">
            <span>系统管理-系统设置-验证码设置</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="padding-left: 30px;padding-right: 30px;">
            <div class="col-xs-12 tabs_info">
                <span>全部管理员用户</span>
            </div>          
        </div>
    </div>
    <div class="row tips">
        <div class="col-xs-12">
            <p class="ti"><i class="iconfont icon-yiliaohangyedeICON-">&nbsp;</i>操作提示</p>
           <div class="col-xs-12">
                <p class="indent">安全设置由：“安全设置、验证码设置、网站LOGO、地图设置、缓存设置、”组成。</p>              
           </div>
        </div>
    </div>
    <div class="row tipss">
        <div class="col-xs-12">
            <form action="" method="get" name="myform">
                <ul class="list-inline">
                    <li>要搜索的内容</li>
                  
                    <li>
                        <div class="form-group">
                                <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="搜索你想要的..." style="border:1px solid rgb(98, 179, 255)"/>
                        </div>
                    </li>
                    <!-- <li>
                        <button type="button" class="btn btn-success">搜索</button>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion"  href="#collapseTwo"><button type="button" class="btn btn-success">高级搜索</button></a>
                    </li> -->
                    <li>
                        <button type="button" class="btn btn-default" style="border:1px solid#EC5051;" onclick="go('/admin/manage/addManage')"><span style="color:#EC5051;"> + 添加管理员</span></button>
                    </li>
                </ul>
            </form>           
        </div>
    </div>
    <!-- 折叠部分 -->
<!--    <div id="collapseTwo" class="panel-collapse collapse collapseTwo">
        <div class="panel-body">
            <div class="admin_screenlist_box" style="display: block;"> 	    
                <div class="admin_screenlist">
                    <span class="admin_screenlist_name">会员等级：</span>
                    <a href="" class="admin_screenlist_cur">全部</a>
                    <a href="">金牌会员</a> 
                    <a href="">银牌会员</a> 
                    <a href="">铜牌会员</a> 
                    <a href="">免费会员</a> 
                    <a href="">黄牌会员</a>                     
                </div>
                                    
                <div class="admin_screenlist">
                    <span class="admin_screenlist_name">到期时间：</span>
                    <a href="" class="admin_screenlist_cur">全部</a>
                    <a href="">7天内</a> 
                    <a href="">一个月内</a> 
                    <a href="">半年内</a> 
                    <a href="">一年内</a> 
                    <a href="">已到期</a>                                
                </div>
                                    
                <div class="admin_screenlist">
                    <span class="admin_screenlist_name">审核状态：</span>
                    <a href="" class="admin_screenlist_cur">全部</a>
                    <a href="">已审核</a> 
                    <a href="">已锁定</a> 
                    <a href="">未通过</a> 
                    <a href="">未审核</a>                                
                </div>
                                    
                <div class="admin_screenlist">
                    <span class="admin_screenlist_name">数据来源：</span>
                    <a href="" class="admin_screenlist_cur">全部</a>
                    <a href="">网页</a> 
                    <a href="">手机</a> 
                    <a href="">App</a> 
                    <a href="">微信</a> 
                    <a href="">采集</a> 
                    <a href="">Excel导入</a> 
                    <a href="">QQ登录</a> 
                    <a href="">微信扫一扫</a> 
                    <a href="">微博</a> 
                    <a href="">PC快速投递</a> 
                    <a href="">WAP快速投递</a> 
                    <a href="">微信小程序</a>                                
                </div> 
            </div>
        </div>
    </div>
 -->

    <form class="row form form-list-user">
        <div class="ibox-content">
            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="20" data-filter=#filter>
                <caption>管理员列表</caption>
                <thead>
                    <tr> 
                        <th data-toggle="true">用户ID</th>
                        <th data-sort-ignore="true">用户昵称</th>
                        <th data-sort-ignore="true">账号</th>                       
                        <th data-sort-ignore="true">手机</th>
                        <th data-sort-ignore="true">注册时间</th>
                        <th data-sort-ignore="true">系统角色</th>
                        <th data-sort-ignore="true">状态</th>
                        <th data-sort-ignore="true" style="width:60px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <% 
					var state = ['停用', '启用', '禁用'];
					var color = ['gray', 'green', 'red'];
					for(var i in list){ %>
                    <tr>
                        <td>
							<label class="checkbox-inline"><input type="checkbox" class="union-child" data-union="union-top" name="uid" value="<%=list[i].id%>" /></label>
							<%= list[i].id %></td>
                        <td><%= list[i].userName %></td>
                        <td><%= list[i].acount %></td>
                        <td><%= list[i].tel %></td>
                        <td><%= getStandardDate(list[i].addTime) %></td>
                        <td><%= list[i].groupName %></td> 
                        <td style="color:<%= color[list[i].enable] %>" ><%= state[list[i].enable] %></td> 
                        <td class="project-actions">
                            <button class="btn btn-default " type="button"><i class="fa fa-pencil"  onclick = "go('/admin/manage/editManage?pid=<%=list[i].id%>')">编辑</i></button>
                        </td>
                    </tr>
                     <% } %>   
                    
                </tbody>
                <tfoot>
                    <tr>
                        <th>
							<label class="checkbox-inline"><input type="checkbox" class="union-top" data-union="union-child" /> 全选</label>
                        </th>                       
                        <th colspan="7">
                            <button type="button" class="btn btn-info" data-async="post" data-uri='' id='ena-1'>启用</button>
                            <button type="button" class="btn btn-info" data-async="post" data-uri='' id='ena-0'>停用</button>
                            <button type="button" class="btn btn-info" data-async="post" data-uri='' id='ena-2'>禁用</button>
                        </th>
                    </tr>
                    <tr>
                        
                        <td colspan="8">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>    
        </div>        
    </form>
</div>
 <!-- 全局js -->
 <script src="/bootstrap/js/plugins/footable/footable.all.min.js"></script>
 <script>
	 $(document).ready(function() {
		app.addonParams = {oid: getItem('OID')}	
		 $('.footable').footable();
		 effect.unionSelect()
	 });
 </script>
 
 <script language="javascript">
    app.load(".base_manage");
    app.addonParams = {oid: getItem('OID')};
	
	$("[id^=ena]").unbind("mouseover").on("mouseover", function(){
		 var v = $(this).attr("id").replace("ena-",'');
		 var parms = $(".form-list-user").serialize();
		 if(!parms) return false;
		 var uri = "/admin/manage/delManage?v=" + v + "&" + parms;
		 $(this).attr("data-uri", uri);
	}) 

    function delManage(results){
        console.log(results)
        app.notice(results,function(){
            
            go(results.uri);
        });
    }
</script>
