<link rel="stylesheet" href="/bootstrap/css/v3.css"/>
<style>
.panel-collapse{
    overflow:auto;
}

.memberform{
    margin: 1em;
    background-color: white;
    height:300px;
    margin-top: 0px;
}
.memberform .memberinfo{
    border:1px solid #E6E6E6;
    height: 35px;
    background-color:#F0F6FB;
}
.memberform .memberinfo h4{
    line-height: 25px;
}
.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}
.footable-odd{
    background-color: white;
}
</style>
<div class="container-fluid base">
    <div class="row head">
        <div class="col-xs-12">
            <span>系统管理-用户组管理-权限组管理</span>
        </div>
    </div>
    <div class="row tips">
        <div class="col-xs-12">
            <p class="ti"><i class="iconfont icon-yiliaohangyedeICON-">&nbsp;</i>操作提示</p>
            <div class="col-xs-12">
                <p class="indent">管理员根据网站运营需求，添加不同类型的管理员！管理员类型分为：“CRM、超级管理员、分站管理员”用户权限组成相关设置，超级管理员可以根据运营需求设置。</p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 0px;">
        <div class="col-xs-6">
                <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="搜索你想要的..." style="border:1px solid rgb(98, 179, 255)"/>
        </div>
    </div>
    <div class="row memberform">               
        <div class="col-xs-12 memberinfo">
            <h4>组权限信息<!--<button type="button" class="btn btn-default" style="border:1px solid#EC5051;padding: 4px 8px;margin-left: 10px;" onclick="go('/admin/permit/addGlist')"><span style="color:#EC5051;"> + 添加权限组</span></button> --></h4>
            
        </div>
        <div class="col-xs-12" style='height: 300px;'>              
            <div class="ibox-content">
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="6" data-filter=#filter>
                    <thead>
                        <tr>                                              
                            <th data-sort-ignore="true">权限组ID</th>                                                  
                            <th data-sort-ignore="true">权限组名称</th>
                            <th data-sort-ignore="true">状态</th>
                            <th data-sort-ignore="true">创建时间</th>
                            
                            <th data-sort-ignore="true">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                       <% for(var i in results){%> 
                        <tr>
                            <td><%=results[i].id%></td>                           
                            <td><%=results[i].groupName%></td>
                            <td>
                                <%
                                    var st = ['禁用','启用'];
                                    var stcolor = ['btn-danger','btn-info'];
                                %>
                                <button type="button" class="btn <%=stcolor[results[i].status]%>" style="padding: 2px 4px;"><%=st[results[i].status]%></button>
                            </td> 
                            <td><%=getStandardDate(results[i].addTime)%></td>                           
                            <td class="project-actions">
                                <a href="#" class="btn btn-white btn-sm" onclick="go('/admin/permit/editGlist?id=<%=results[i].id%>&name=<%=results[i].groupName%>')"><i class="fa fa-pencil" style="color:#44ABF7" ></i> 编辑 </a>
                                <a href="" class="btn btn-white btn-sm"><i class="fa fa-trash" style="color:#44ABF7"></i> 删除 </a>
                            </td>
                        </tr>
                        <% } %>                       
                                      
                    </tbody>
                    <tfoot>                       
                        <tr>                           
                            <td colspan="8">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>    
            </div>     
        </div>        
    </div>
</div>
<script src="/bootstrap/js/plugins/footable/footable.all.min.js"></script>
 <script>
     $(document).ready(function() {
         $('.footable').footable();
     });

 </script>