<% 
	var classifyDevice = locals.classifyDevice ? JSON.parse(classifyDevice) : [];
	var deviceSize = treeValue(classifyDevice,'name','设备像素','children');
	var deviceSizeVal = array2value(deviceSize, 'val', '!=null', 'val', 'all');
	var deviceSizeName = array2value(deviceSize, 'val', '!=null', 'name', 'all');
	if(typeof deviceSizeName != "object") deviceSizeName = [deviceSizeName];
	var temArr = [];
	deviceSizeName.forEach(function(o, i){
		temArr.push(cleanNull(o.match(/\d*/g)).join("*"));
	});
	var deviceSizeKey = temArr.join('-');
%>


<link rel="stylesheet" href="/bootstrap/css/v3.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/dragslot.css">
<style>
.add-infor .active{background-color:#FFF;}
.table .active{background-color:#23AD44;}
.full-screen{
    position: fixed;
    z-index: 99999999999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#nestable-type .dd-item>button {
    font-family: FontAwesome;
    height: 34px;
    width: 33px;
    color: #c1c1c1;
}
.hidden{display:none;}
#nestable-type .dd-item>button[data-action="collapse"]:before {content: "\f068";}
#nestable-type .dd-item>button:before {content: "\f067";}
#nestable-type .dd-handle{line-height:28px;}
#nestable-spec .dd-item>button[data-action="collapse"]:before {content: "\f068";}
#nestable-spec .dd-item>button:before {content: "\f067";}
#nestable-spec .dd-handle{line-height:28px;}
.solid1{border:1px solid #0000CC;}
.screen-piece{border:0;}
.screen-piece-1{background-color: #00625A;position:absolute;}
.screen-piece-2{float:right; background-color:#00E8D7;position:absolute;}
.screen-piece-3{ background-color:red;position:absolute;}
.screen-piece-3-low{ line-height: 8px;}
.screen-piece-2-1{background-color:#00E8D7;position:absolute;}
.screen-piece-2-2{background-color:#00FFFF;position:absolute;}
.screen-piece-task ol{
	width: 80% !important;
	padding-top:0.5em;
	border:0;
}
.screen-piece-task ol li{
	width: 100% !important;
	line-height:2em;
	font-size:12px;
	border: 0 !important;
	border-bottom: 1px solid #eeeeee !important;
}
.screen-piece-res img{width:100%;overflow:hidden}
.modal-body{
	overflow: auto;
	height: 620px;
}
.screen-piece-res .notice-box{margin-top:2px;color:#F0FFFF;}
.screen-piece-res .notice-box i{display:block; text-align:left;}
.screen-piece-res .notice-box marquee{margin-top: 3px;}
/* 模态框样式 */
#lists-code img{width:64px;height:64px;}
.modal-content{top:50px}
.screen-piecees .active{background-color:snow !important;border:1px #FFFFFF !important;}
.load-piece label:hover{background-color:snow !important;border:0 !important;}
.screen-piecees label:hover{background-color:snow !important;border:0 !important;}
</style>

<div class="container-fluid base">
	<div class="row head">
		<div class="col-xs-12">
			<span>系统管理-栏目管理-编辑栏目</span>
		</div>
	</div>

	<div class="add-infor">
		<div class="row tips">
			<div class="col-xs-12">
				<p class="ti"><i class="iconfont icon-yiliaohangyedeICON-">&nbsp;</i>操作提示</p>
				<div class="col-xs-12">
					<p class="indent">基本设置由：“安全设置、验证码设置、网站LOGO、地图设置、缓存设置、”组成。</p>
				</div>
			</div>
		</div>
		<ul class="nav nav-tabs" style="background-color:#fff;margin-left:13px;margin-right:13px;">
			<li class="active"><a data-toggle="tab" data-target="#tab-1"><i class="fa fa-user"></i> 基本</a>
			</li>
			<li class=""><a data-toggle="tab" data-target="#tab-2"><i class="fa fa-briefcase"></i>详细</a>
			</li>
			<!-- <li class=""><a data-toggle="tab" data-target="#tab-3"><i class="fa fa-briefcase"></i>其他</a>
            </li> -->
		</ul>
		<div class="row form tab-content">
			<form id="add-infor" data-form-async='json' action="/admin/adv-publish/tasks-save" method="post" novalidate="novalidate">
				<input type="hidden" name='tag' value="add" />
				<input type="hidden" name='tasklist' value="" />
				<input type="hidden" name='devicelist' value="" />

				<!-- tab-1的表单是固定的 -->
				<table class="table" id="tab-1">
					<thead>
						<tr>
							<th class="col-xs-2">参数说明</th>
							<th>参数值</th>
						</tr>
					</thead>
					<tbody class="page-struct">
						<tr>
							<td>任务名称：</td>
							<td>
								<div class="form-group col-xs-4">
									<input type="text" class="form-control" data-valid="require" name="title" value="" />
								</div>
								<span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;任务名称，长度限制15字</span>
							</td>
						</tr>

						<tr>
							<td>执行方式：</td>
							<td style="padding-left:15px;">
								<div class="btn-group radio-content-state" data-toggle="buttons" style="margin-left:10px;">
									<label class="btn btn-outline btn-success btn-radio dim codeSwitch task-mode">
										<input type="radio" name="mode" data-key="current-time-fool" data-val="立即-定时-循环" data-def="current" value="current" />
									</label>
								</div>
							</td>
						</tr>

						<!-- 定时任务时间 -->
						<tr class="hidden" name="task-run-time">
							<td>任务执行时间：</td>
							<td>
								<div class="form-group col-xs-4">
									<input type="text" data-valid="datetime-require" class="form-control init-date" disabled=true name="starttime" placeholder="输入执行时间" value="" />
								</div>
								<span style="line-height: 40px;">
									<i class="iconfont icon-tishi" style="color: #1C66A7;"></i>
									&nbsp;输入格式如：2019/10/14 14:10:00
								</span>
							</td>
						</tr>

						<!-- 循环任务起止时间 -->
						<tr class="hidden" name="task-run-fool">
							<td>任务起止时间：</td>
							<td>
								<div>
									<div class="col-md-4">
										<input type="text" data-valid="datetime-require" placeholder="开始时间" class="form-control init-date" disabled=true name="starttime">
									</div>
									<div class="col-md-4">
										<input type="text" data-valid="datetime-require" placeholder="结束时间" class="form-control init-date" disabled=true name="endtime">
									</div>
								</div>
								<span style="line-height: 40px;">
									<i class="iconfont icon-tishi" style="color: #1C66A7;"></i>
									&nbsp;输入格式如：2019/10/14 14:10:00
								</span>
							</td>
						</tr>

						<!-- 选择设备类型 -->
						<tr>
							<td>广告屏尺寸：</td>
							<td style="padding-left:15px;">
								<div class="btn-group radio-content-state" data-toggle="buttons" style="margin-left:10px;">
									<label class="btn btn-outline btn-success btn-radio dim codeSwitch screenpiece">
										<input type="radio" name="screenpiece" data-key="<%= echo(deviceSizeKey) %>" data-val="<%= echo(deviceSizeName.join('-')) %>" data-def="1920*1080"
										 value="1920*1080" /><!-- <i class="fa fa-check"></i> -->
										<!--<i class="fa fa-times"></i>-->
									</label>
								</div>
							</td>
						</tr>
						
						<!-- 选择设备 -->
						<tr>
							<td>设备：</td>
							<td style="padding-left:15px;">
								<dl class="col-xs-11">
									<dt>设备清单：</dd>
									<dd class="screen-device-list col-xs-12">
										<ol class="device-list">
											<!-- <li class="col-xs-4"><span name="title" data-uri="">设备名称</span><span class="icon hidden">&nbsp;<i class="fa fa-trash" style="color:#44ABF7"></i></span></li> -->
										</ol>
									</dd>
									<dt class="col-xs-12" style="margin-top:0.5em;">
										<button type="button" class="btn btn-primary event-add-device">添加设备</button>
									</dt>
								</dl>
							</td>
						</tr>

						<!-- 选择屏幕分区方式 -->
						<tr>
							<td>屏幕分区：</td>
							<td style="padding-left:15px;" class="screen-piecees">
								<input type="hidden" name="piecesn" />
								<div class="btn-group screen-1920-1080" data-sn="sn-1" data-toggle="buttons" style="margin-left:10px;">
									<label class="btn btn-outline btn-success btn-radio dim codeSwitch">
										<!-- 屏幕分区 -->
										<div class="screen-piece"  style="width: 100px;height: 56px;border:0;position:relative;">
											<div class="screen-piece screen-piece-1" data-media="video" style="width:100%; height:85%;top:0; left:0;"></div>
											<div class="screen-piece screen-piece-3 screen-piece-3-low" data-media="notice" style="width:100%; height:15%; bottom:0;right:0;"></div>
										</div>
									</label>
								</div>
								<div class="btn-group screen-1920-1080" data-sn="sn-2" data-toggle="buttons" style="margin-left:10px;">
									<label class="btn btn-outline btn-success btn-radio dim codeSwitch">
										<!-- 屏幕分区 -->
										<div class="screen-piece" style="width: 100px;height: 56px;border:0;position:relative;">
											<div class="screen-piece screen-piece-2" data-media="img" style="width:20%; height:100%; top:0; right:0;"></div>
											<div class="screen-piece screen-piece-1" data-media="video" style="width:80%; height:80%; left:0; top:0;"></div>
											<div class="screen-piece screen-piece-3" data-media="notice" style="width:80%; height:20%; left:0; bottom:0;"></div>
										</div>
									</label>
								</div>
								<div class="btn-group screen-1920-1080" data-sn="sn-3" data-toggle="buttons" style="margin-left:10px;">
									<label class="btn btn-outline btn-success btn-radio dim codeSwitch">
										<div class="screen-piece" style="width: 100px;height: 56px;border:0;position:relative;">
											<div class="screen-piece screen-piece-2-1" data-media="img" style="width:20%; height:50%; top:0; right:0;"></div>
											<div class="screen-piece screen-piece-2-2" data-media="img" style="width:20%; height:50%; top:50%; right:0;"></div>
											<div class="screen-piece screen-piece-1" data-media="video" style="width:80%; height:80%; top:0; left:0;"></div>
											<div class="screen-piece screen-piece-3" data-media="notice" style="width:80%; height:20%; left:0; bottom:0;"></div>
										</div>
									</label>
								</div>
								<div class="btn-group screen-1920-1080" data-sn="sn-4" data-toggle="buttons" style="margin-left:10px;">
									<label class="btn btn-outline btn-success btn-radio dim codeSwitch">
										<div class="screen-piece" style="width: 100px;height: 56px;border:0;position:relative;">
											<div class="screen-piece screen-piece-1" data-media="video" style="width:44.4271%; height:100%; top:0; left:0;"></div>
											<div class="screen-piece screen-piece-2" data-media="img" style="width:55.5729%; height:100%; top:0; right:0;"></div>
										</div>
									</label>
								</div>
								<div class="btn-group screen-1080-1920 hidden" data-sn="sn-5" data-toggle="buttons" style="margin-left:10px;">
									<label class="btn btn-outline btn-success btn-radio dim codeSwitch">
										<div class="screen-piece" style="width: 56px;height: 100px;border:0;position:relative;">
											<div class="screen-piece screen-piece-1" data-media="video" style="height:44.4271%; width:100%; top:0; left:0;"></div>
											<div class="screen-piece screen-piece-2" data-media="img" style="height:55.5729%; width:100%;bottom:0; left:0;"></div>
										</div>
									</label>
								</div>
								<div class="btn-group screen-1080-1920 hidden" data-sn="sn-6" data-toggle="buttons" style="margin-left:10px;">
									<label class="btn btn-outline btn-success btn-radio dim codeSwitch">
										<div class="screen-piece" style="width: 56px;height: 100px;border:0;position:relative;">
											<div class="screen-piece screen-piece-1" data-media="img" style="height:55.5729%; width:100%; left:0; top:0;"></div>
											<div class="screen-piece screen-piece-2" data-media="video" style="height:44.4271%; width:100%; left:0; bottom:0;"></div>
										</div>
									</label>
								</div>
							</td>
						</tr>

						<!-- 载入分区素材 -->
						<tr class="load-piece hidden">
							<td>载入分区素材：</td>
							<td style="padding-left:15px;min-height:350px;">
								<div class="col-xs-5">
									<div class="" style="margin-left:10px;">
										<label class="" data-device="1920-1080">
											<div class="screen-piece screen-piece-res" style="width: 300px;height: 168px;border:0;position:relative;">
												<!--  -->
											</div>
										</label>
									</div>
									<dl class="col-xs-12">
										<dt><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;分区信息：</dt>
										<dd class="screen-piece-info"></dd>
									</dl>
								</div>
								<dl class="col-xs-6">
									<dt><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;当前分区任务清单：</dd>
									<dd id="dragslot" class="screen-piece-task  col-xs-12">
										<ol class="slot-list">
											<!-- <li class="col-xs-4"><span name="title" data-uri="">开始懂了加格达奇</span><span class="icon hidden">&nbsp;<i class="fa fa-trash" style="color:#44ABF7"></i></span></li> -->
										</ol>
									</dd>
									<dt class="col-xs-12 hidden" style="margin-top:0.5em;">
										<button type="button" class="btn btn-primary event-add-task">添加任务</button>
									</dt>
								</dl>
							</td>
						</tr>

						<tr>
							<td>任务状态：</td>
							<td style="padding-left:15px;">
								<div class="btn-group radio-content-state" data-toggle="buttons" style="margin-left:10px;">
									<label class="btn btn-outline btn-success btn-radio dim codeSwitch">
										<input type="radio" name="state" data-key="1-0" data-val="启用-禁用" data-def="0" value="0" /><!-- <i class="fa fa-check"></i> -->
										<!--<i class="fa fa-times"></i>-->
									</label>
								</div>
							</td>
						</tr>

					</tbody>
					<tfoot>
						<tr>
							<td></td>
							<td>
								<button type="submit" disabled="true" class="btn">确定</button>
								<button type="reset" class="btn">重置</button>
							</td>
						</tr>
					</tfoot>
				</table>
				<!-- tab-2的表单由系统生成 -->
				<table class="table hidden" id="tab-2">

				</table>
			</form>
		</div>
	</div>
</div>

<script src="/bootstrap/js/plugins/footable/footable.all.min.js"></script>
<script src="/bootstrap/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/javascripts/app/dragslot.js"></script>

<script>
	var classifyDevice = <%- classifyDevice? JSON.stringify(classifyDevice): []; %>
	var deviceSizeVal = <%- deviceSizeVal ? JSON.stringify(deviceSizeVal) : []; %>
	var codeTaskList =
		`<form id="add-to-tasks" class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>有以下任务可以加入任务列表</h5>

			<div class="ibox-tools">
				<a class="collapse-link">
					<i class="fa fa-chevron-up"></i>
				</a>
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="fa fa-wrench"></i>
				</a>
				<a class="close-link">
					<i class="fa fa-times"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
			<input type="text" class="form-control input-sm m-b-xs" id="filter"
				   placeholder="输入标题/商家名称/任务时长/添加时间...">

			<table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
				<thead>
						<tr>
							<th>标题</th>
							<th>商家名称</th>
							<th>播放时长</th>
						</tr>
					</thead>
					<tbody id="lists-code">
						<tr class="gradeX union-child" data-union="union-top">
							<td>
								<label class="checkbox-inline">
									<input type="checkbox" class="union-child" data-union="union-top" 
										name="id" 
										id="{{id}}"
										value="{{id}}" />
									<img src="{{litpic}}"/>&nbsp;
									<span style="display:inline-table"><b>{{title}}</b></br>{{shorttitle}}</span>	
								</label>
							</td>
							<td>{{business}}</td>
							<td class="center">{{duration}}(秒)</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td class="show-opers" colspan="3">
								<label class="checkbox-inline text-cneter"><input type="checkbox" class="union-top" data-union="union-child" /> 全选</label>
								<button type="button" id="btn-add-to-task" class="btn btn-info">添加到任务列表</button>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<ul class="pagination pull-right"></ul>
							</td>
						</tr>
					</tfoot>
			</table>
		</div>
	</form>`;
	
	var codeDeviceList =
		`<form id="add-to-device" class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>有以下任务可以加入任务列表</h5>
	
			<div class="ibox-tools">
				<a class="collapse-link">
					<i class="fa fa-chevron-up"></i>
				</a>
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="fa fa-wrench"></i>
				</a>
				<a class="close-link">
					<i class="fa fa-times"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
			<input type="text" class="form-control input-sm m-b-xs" id="filter"
				   placeholder="输入设备名称/分类名称/设备地址...">
	
			<table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
				<thead>
						<tr>
							<th>设备名称</th>
							<th>分类名称</th>
						</tr>
					</thead>
					<tbody id="device-code">
						<tr class="gradeX union-child" data-union="union-top">
							<td>
								<label class="checkbox-inline">
									<input type="checkbox" class="union-child" data-union="union-top" 
										name="id" 
										id="{{id}}"
										value="{{id}}" />
									<img src="{{litpic}}"/>&nbsp;
									<span style="display:inline-table"><b>{{title}}</b></br>{{shorttitle}}</span>	
								</label>
							</td>
							<td>{{- return treeValue(classifyDevice, "val", classify, "name"); }}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td class="show-opers" colspan="3">
								<label class="checkbox-inline text-cneter"><input type="checkbox" class="union-top" data-union="union-child" /> 全选</label>
								<button type="button" id="btn-add-to-device" class="btn btn-info">添加到任务列表</button>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<ul class="pagination pull-right"></ul>
							</td>
						</tr>
					</tfoot>
			</table>
		</div>
	</form>`;
	
	/**
	 * 配置文件
	 */
	var conf = {
		httpHost: "http://192.168.0.114:3005",
		wsHost: "ws://192.168.0.114:3005",
	}
	
	/**
	 * webSocket对象 
	 */
	var ws = {
		state: false,
		host: conf.wsHost,
		protocol: 'echo-protocol',
		connection: null,
		rebuildTime: 60000, //得建ws连接时间
		//初始化webSocket服务
		initWs: function(callback) {
			//创建webSocket连接
			ws.connection = new WebSocket(ws.host, ws.protocol);
			ws.connection.onopen = function() {
				//连接成功提示信息
				app.notice({
					error: 0,
					message: 'ws连接成功'
				})
				ws.send = function(obj) {
					ws.connection.send(JSON.stringify(obj));
				}
				//请求播放任务
				// ws.send({
				// 	action: '/api/task/list',
				// 	data: {
				// 		unid: getItem('unid')
				// 	}
				// });
			};
			ws.connection.onmessage = ws.onMsg;
			ws.connection.onclose = ws.onClo;
			ws.connection.onerror = ws.onErr;
			if(typeof callback == 'function') callback();
		},
		//收到消息的处理方法
		onMsg: function(msg) {
			console.log(msg);
		},
		//服务关闭的处理方法
		onClo: function(clo) {
			//自动重建ws连接
			ws.rebuildWs();
		},
		//服务出错的处理方法
		onErr: function(err) {
			console.error(err)
		},
		//重建ws服务
		rebuildWs: function() {
			ws.connection = null;
			var rebuildWs = setInterval(function() {
				if (ws.connection) return clearInterval(rebuildWs)
				ws.initWs();
			}, ws.rebuildTime)
		}
	};
	ws.initWs();

	$(document).ready(function() {
		$('.footable').footable();
		app.load(".add-infor");
		//添加附加参数
		app.addonParams = {oid: getItem('OID')};
		//初始化效果
		effect.setRadio(".radio-content-state");
		
		//设备分配工具
		var device = {
			currentDevice : null,
			//初始设备分配工具
			init: function(){
				//清除残留数据
				setItem("DEVICE_ID", null);
			},
			//保存选中的设备到本地
			saveSelectedDevice: function(idArr) {
				idArr = idArr ? idArr : app.parseQuery(decodeURI($("#add-to-device").serialize())).id;
				var taskId = getItem("DEVICE_ID") || [];
				if(!idArr){
					app.notice({
						error: 1,
						message: '请选择需要添加到列表的设备'
					});
					return false;
				}
				if(typeof idArr != "object") idArr = [idArr];
				// setItem("DEVICE_ID", unique(taskId.concat(idArr)));
				setItem("DEVICE_ID", taskId.concat(idArr));
				return true;
			},
			
			//获取对象数据属性的值
			getAttVal: function(id, key){
				var temArr = [];
				if(id.constructor.name != "Array") id = [id];
				id.forEach(function(o, i){
					var val = array2value(getItem("DEVICES"), 'id', o, key);
					temArr.push(val);
				});
				
				return temArr;
			},
			
			//清空设备清单
			cleanDevice: function() {
				$(".screen-device-list ol").html("");
			},
			
			//加载分区域任务清单
			loadDevices: function() {
				//清空设备清单
				device.cleanDevice();
				var dataDeviceId = getItem("DEVICE_ID");
				var dataDeviceTitle = device.getAttVal(dataDeviceId, 'title');
				var dataDeviceshorttitle = device.getAttVal(dataDeviceId, 'shorttitle');
				var li;
				dataDeviceTitle.forEach(function(o, i) {
					li = `<li class="col-xs-4">
<span>
	<span name="title" data-id="` + dataDeviceId[i] + `" >` + o +`&nbsp;
		<span>`+dataDeviceTitle[i]+`</span>&nbsp;
		<span><i>`+dataDeviceshorttitle[i]+`</i></span>&nbsp;
	</span>
	<span class="task-icon-del hidden">&nbsp;
		<i class="fa fa-trash" style="color:#44ABF7"></i>
	</span>
</span>
</li>`;
					$(".screen-device-list ol").append(li);
				})
			},
			
			//控制删除按钮是否显示
			showDelBtn: function() {
				$(".screen-device-list").find("span[name='title']").unbind('mouseover').on("mouseover", function() {
					$(".task-icon-del").addClass('hidden');
					$(this).siblings(".task-icon-del").removeClass('hidden');
				})
			},
			
			//根据索引删除对象对应的数据
			removeElData: function(index){
				try{
					var deviceId = getItem("DEVICE_ID");
					deviceId.splice(index, 1);
					setItem("DEVICE_ID", deviceId);
				}catch(e){return false;}
				
				return true;
			},
			
			//删除按钮的动作
			actionCdelBtn: function() {
				$(".task-icon-del").unbind("click").on("click", function() {
					var that = this;
					app.alert({
						title: "您确定要删除当前任吗"
					}, function(res) {
						if(!res) return false;
						//获取被删除对象所在的序号
						var recoder = $(that).parent().parent()
						var delIndex = recoder.prevAll().length;
						recoder.remove();
						//根据索引删除对象对应的数据
						if(!device.removeElData(delIndex)) return app.notice({
							error: 1,
							message: '页面出错，请刷新页面...'
						});
					});
				})
			},
			
			add2Tasks: function(){
				$("#btn-add-to-device").unbind("click").on("click", function() {
					//保存任务id到本地
					if(!device.saveSelectedDevice()) return false;
					//添加成功的提示
					app.notice({
						error: 0,
						message: "成功添加任务到列表!"
					}, function() {
						//添加成功后,将被钩选的任务清除勾选状态
						$("#add-to-device").find("[class^=union-]").prop("checked", false);
						//载入设备清单
						device.loadDevices();
						//显示删除按钮
						device.showDelBtn();
						//加载按钮的动作
						device.actionCdelBtn();
					})
				})
			},
			
			/**
			 * 获取设备列表
			 */
			getDevicelist: function(){
				var devices = getItem("DEVICE_ID");
				return devices ? devices.join('-') : '';
			}
		}
		
		//任务分配工具
		var taskAdder = {
			//当前分区对象 
			currentPiece: null,
			//上一个分区对象
			prePiece: null,
			//任务请求记录
			history: [],
			//初始化任务分配工具
			init: function(){
				//清除残留数据
				setItem("TASKS_ID", null);
				setItem("TASKS_NAME", null);
				setItem("TASKS_URL", null);
			},
			//控制删除按钮是否显示
			showDelBtn: function() {
				$(".screen-piece-task").find("span[name='title']").unbind('mouseover').on("mouseover", function() {
					$(".task-icon-del").addClass('hidden');
					$(this).siblings(".task-icon-del").removeClass('hidden');
				})
			},
		
			//删除按钮的动作
			actionCdelBtn: function() {
				$(".task-icon-del").unbind("click").on("click", function() {
					var that = this;
					app.alert({
						title: "您确定要删除当前任吗"
					}, function(res) {
						if(!res) return false;
						//获取被删除对象所在的序号
						var delIndex = $(that).parent().parent().prevAll().length;
						//根据索引删除对象对应的数据
						if(!taskAdder.removeElData(delIndex)) return app.notice({
							error: 1,
							message: '页面出错，请刷新页面...'
						});
						//删除正在预览的内容
						$(taskAdder.currentPiece).html("");
						//将数据装载到元素的属性
						taskAdder.load2attr();
						//重载分区域任务清单
						taskAdder.loadPieceTasks(taskAdder.currentPiece);
						//显示删除按钮
						taskAdder.showDelBtn();
						//加载按钮的动作
						taskAdder.actionCdelBtn();
						taskAdder.actionPreView();
					});
				})
			},
			
			//预览按钮动作
			actionPreView: function(){
				$(".oper-task-preview").unbind("click").on("click", function(){
					var type=$(taskAdder.currentPiece).attr("data-media");
					if(type in taskAdder.pre) return taskAdder.pre[type](this);
					app.notice({error: 1, message:"预览出错！"});
				});
			},
			
			//清除预览
			cleanPreView: function(o){
				$(o).html("");
			},
			
			//添加设备信息读取事件
			showpieceInfo: function() {
				$(".screen-piece-res").children().unbind("click").on("click", function() {
					//点击分区时,清除上一分区的预览及缓存数据
					taskAdder.currentPiece = this;
					if(taskAdder.prePiece){
						taskAdder.cleanLocalData();
					} 
					if(taskAdder.prePiece != taskAdder.currentPiece){
						taskAdder.cleanPreView(taskAdder.prePiece);
						taskAdder.prePiece = taskAdder.currentPiece;
					}
					var dataMedia = "媒体类型：" + $(this).attr("data-media");
					var dataSize = "<br/>分区尺寸：" + $(this).attr("data-size");
					$(".screen-piece-info").html(dataMedia + dataSize);
					//初始化分区属性:data-tasks-id
					//如果属性不为空，则将信息初始化到本地缓存
					var ids = $(this).attr("data-tasks-id");
					if(ids) taskAdder.saveSelectedTasks(ids.split('-'));
					//加载分区域任务清单
					taskAdder.loadPieceTasks(this);
					//显示删除按钮
					taskAdder.showDelBtn();
					//加载按钮的动作
					taskAdder.actionCdelBtn();
					taskAdder.actionPreView();
				});
			},
		
			//清除设备信息
			cleanpieceInfo: function() {
				$(".screen-piece-info").html("");
			},
		
			//加载分区域任务清单
			loadPieceTasks: function(o) {
				//清空分区域任务清单
				taskAdder.cleanPieceTasks()
				var dataSn = $(o).attr("data-sn");
				var dataTastsId = $(o).attr("data-tasks-id") ? $(o).attr("data-tasks-id").split('-') : [];
				var dataTastsTitle = taskAdder.getAttVal(dataTastsId, 'title');
				var dataTastshorttitle = taskAdder.getAttVal(dataTastsId, 'shorttitle');
				var dataTastDuration = taskAdder.getAttVal(dataTastsId, 'duration');
				var li;
				dataTastsTitle.forEach(function(o, i) {
					li = `<li class="slot-item">
<span  class="slot-handler">
	<span name="title" data-id="` + dataTastsId[i] + `" class="oper-task-preview">` + o +`&nbsp;
		<span>`+dataTastshorttitle[i]+`</span>&nbsp;
		<span><i>[`+dataTastDuration[i]+`s]</i></span>&nbsp;
	</span>
	<span class="task-icon-del hidden">&nbsp;
		<i class="fa fa-trash" style="color:#44ABF7"></i>
	</span>
</span>
</li>`;
					$(".screen-piece-task ol").append(li);
				})
				$(".screen-piece-task").attr("data-sn", dataSn);
				$(".screen-piece-task").next().removeClass("hidden");
				//将标识放到 event-add-task 按钮
				$(".event-add-task").attr("data-sn", dataSn);
			},
		
			//清空分区域任务清单
			cleanPieceTasks: function() {
				$(".screen-piece-task").removeAttr("data-sn");
				$(".screen-piece-task ol").html("");
			},
		
			//清除任务添加按钮
			cleanAddTaskBtn: function() {
				$(".screen-piece-task").next().addClass("hidden");
			},
		
			//添加到任务列表事件
			add2Tasks: function() {
				$("#btn-add-to-task").unbind("click").on("click", function() {
					//保存任务id到本地
					if(!taskAdder.saveSelectedTasks()) return false;
					//添加成功的提示
					app.notice({
						error: 0,
						message: "成功添加任务到列表!"
					}, function() {
						//添加成功后,将被钩选的任务清除勾选状态
						$("#add-to-tasks").find("[class^=union-]").prop("checked", false);
						//将数据装载到元素的属性
						taskAdder.load2attr();
						//重载分区域任务清单
						taskAdder.loadPieceTasks(taskAdder.currentPiece);
						//显示删除按钮
						taskAdder.showDelBtn();
						//加载按钮的动作
						taskAdder.actionCdelBtn();
						taskAdder.actionPreView();
						//载入拖拽排序事件
						dragslot(window.jQuery, window, document);
						$('#dragslot').dragslot({
							dropCallback: function(el) {
									//app.notice({error:0, message:"ok"})
							}
						});
					})
				})
			},
			
			//保存选中的任务到本地
			//当前方法在分区被点击时调用,在添加到任务列表被点击时调用
			saveSelectedTasks: function(idArr) {
				idArr = idArr ? idArr : app.parseQuery(decodeURI($("#add-to-tasks").serialize())).id;
				var taskId = getItem("TASKS_ID") || [];
				var taskName = getItem("TASKS_NAME") || [];
				var taskUrl = getItem("TASKS_URL") || [];
				if(!idArr){
					app.notice({
						error: 1,
						message: '请选择需要添加到列表的任务'
					});
					return false;
				}
				if(typeof idArr != "object") idArr = [idArr];
				setItem("TASKS_ID", taskId.concat(idArr));
				setItem("TASKS_NAME",taskName.concat(this.getAttVal(idArr, 'title')));
				setItem("TASKS_URL",taskUrl.concat(this.getAttVal(idArr, 'url')));
				return true;
			},
			
			//清空缓存数据
			cleanLocalData: function(){
				setItem("TASKS_ID", []);
				setItem("TASKS_NAME", []);
				setItem("TASKS_URL", []);
			},
			
			//根据索引删除对象对应的数据
			removeElData: function(index){
				try{
					var tasksId = getItem("TASKS_ID");
					var tasksName = getItem("TASKS_NAME");
					var tasksUrl = getItem("TASKS_URL");
					tasksId.splice(index, 1);
					setItem("TASKS_ID",tasksId);
					tasksName.splice(index, 1);
					setItem("TASKS_NAME",tasksName);
					tasksUrl.splice(index, 1);
					setItem("TASKS_URL",tasksUrl);
				}catch(e){return false;}
				
				return true;
			},
			
			//获取对象数据属性的值
			getAttVal: function(id, key){
				var temArr = [];
				if(id.constructor.name != "Array") id = [id];
				id.forEach(function(o, i){
					temArr.push(array2value(getItem("TASKS"), 'id', o, key));
				});
				
				return temArr;
			},
			
			//将数据装载到元素的属性
			load2attr: function(){
				$(this.currentPiece).attr("data-tasks-id", getItem("TASKS_ID").join("-"));
				$(this.currentPiece).attr("data-tasks-title", getItem("TASKS_NAME").join("-"));
				$(this.currentPiece).attr("data-tasks-url", getItem("TASKS_URL").join("-"));
			},
			
			//预览方法组
			pre:{
				video: function(o){
					var vId = $(o).attr("data-id");
					var url = taskAdder.getAttVal(vId, 'url')[0];
					url = url.substr(0,url.lastIndexOf('.'));
					var vCode = `<video width="320" height="240" autoplay controls>
  <source src="` + url + `.mp4" type="video/mp4">
  <source src="` + url + `.ogg" type="video/ogg">
  <source src="` + url + `.webm" type="video/webm">
  <object data="movie.mp4" width="320" height="240">
    <embed src="` + url + `.swf" width="320" height="240">
  </object>
</video>`;
					$(taskAdder.currentPiece).html(vCode);
				},
				img: function(o){
					var vId = $(o).attr("data-id");
					var url = taskAdder.getAttVal(vId, 'url');
					var iCode = `<img src="` + url + `" />`;
					$(taskAdder.currentPiece).html(iCode);
				},
				notice: function(o){
					var vId = $(o).attr("data-id");
					var title = taskAdder.getAttVal(vId, 'title');
					var content = taskAdder.getAttVal(vId, 'content');
					var nCode = `<div class="notice-box">
<i class="icon-notice">`+title+`</i>
<marquee class="noticeText" 
direction="left" 
behavior="" 
scrollamount="1" 
scrolldelay="50" 
loop="0" 
width="100%" 
onmouseover="this.stop();" 
onmouseout="this.start();"  
style="width: 100%;">`+content+`</marquee></div>`;
					$(taskAdder.currentPiece).html(nCode);
				}
			},
			
			/**
			 * 读取任务列表为表单数据
			 * //数据模型
				// var piece = {
				// 	type: '',
				// 	taskTag: '',
				// 	style: '',
				// 	enable: '',
				// 	list: [{},{}]
				// }
				var piecetask = {
					url: '',
					duration: 0
				}
			 */
			getTasklist: function(){
				var len = $(".screen-piece-res").children().length;
				var list = [];
				$(".screen-piece-res").children().each(function(i, o){
					var piece = {},
					ids,
					styl = '{' + $(o).attr('style').replace(/;$/,'').replace(/:/g,':"').replace(/;/g,'",') + '"}';
					eval(('piece.style =' + styl));
					piece.type = $(o).attr('data-media');
					piece.taskTag = $(o).attr('data-sn');
					piece.enable = 1;
					piece.list = [];
					ids = $(o).attr('data-tasks-id');
					if(ids) ids = ids.split('-');
					if(typeof ids != "object") ids = [ ids ];
					ids.forEach(function(o, i){
						piecetask = {};
						if(o){
							piecetask.url = taskAdder.getAttVal(o, 'url').toString();
							piecetask.title = taskAdder.getAttVal(o, 'title').toString();
							piecetask.duration = taskAdder.getAttVal(o, 'duration').toString();
							piecetask.content = taskAdder.getAttVal(o, 'content').toString();
							piece.list.push(piecetask);
						}
					});
					piece.list = piece.list;
					list.push(piece);
				});
				
				return list;
			}
		}
		
		
		
		//初始设备分配工具
		device.init();
		
		$(".screenpiece").on("click", function() {
			$(".load-piece").addClass('hidden');
			var screenTag = $(this).children('input').val().replace('*', '-');
			//标注设备属性
			$("[data-device]").attr('data-device', screenTag);
			//控制可选分屏显示效果
			$(".screen-piecees").children().addClass('hidden');
			$(".screen-" + screenTag).removeClass('hidden');
			var screenSize = screenTag.split('-');
			$(".load-piece").find(".screen-piece").css({
				width: screenSize[0] > screenSize[1] ? 200 : 200 * screenSize[0] / screenSize[1],
				height: screenSize[0] > screenSize[1] ? 200 * screenSize[1] / screenSize[0] : 200
			})
			//清除设备信息
			taskAdder.cleanpieceInfo();
		});

		//选择屏幕分区方式
		$(".screen-piecees").children('div').unbind('click').on("click", function() {
			//标识被选中的分区sn 
			$('input[name="piecesn"]').val($(this).attr('data-sn'));
			//清除残留数据
			taskAdder.init();
			var loadpiece = $(this).find(".screen-piece")[0].outerHTML;
			loadpiece = $(loadpiece);
			//给子元素添加属性
			loadpiece.children().each(function(i, o) {
				var width, height, style, device, size, dataMedia;

				style = $(o).attr('style');
				style = '{' + style.replace(/;/g, '",') + '}';
				style = style.replace(',}', '}');
				style = style.replace(/:/g, ':"');
				eval('style=' + style);
				width = style.width.match(/%/) ? parseFloat(style.width) / 100 : style.width;
				height = style.height.match(/%/) ? parseFloat(style.height) / 100 : style.height;
				device = $("[data-device]").attr("data-device").split('-');
				if (!device.length) return app.notice({
					error: 1,
					message: "还没有选择设备尺寸，请选择..."
				});
				//媒体类型
				dataMedia = $(o).attr("data-media");
				//分区尺寸
				size = parseInt(device[0] * width) + "px * " + parseInt(device[1] * height) + "px";
				//参数设置到属性
				$(o).attr("data-size", size);
				$(o).attr("data-sn", "sn_" + i); //分区标识
				$(o).attr("data-media", dataMedia);
			})

			$(".load-piece").removeClass('hidden');
			$(".load-piece").find(".screen-piece").html($(loadpiece).html());
			//清除设备信息
			taskAdder.cleanpieceInfo();
			//加载设备信息读取事件
			taskAdder.showpieceInfo();
			//清空分区域任务清单
			taskAdder.cleanPieceTasks();
			//清除任务添加按钮
			taskAdder.cleanAddTaskBtn();
		})
		
		

		//任务执行方式的效果
		$('.task-mode').on('click', function() {
			var val = $(this).children("input").val();
			$("[name^=task-run-]").addClass('hidden');
			$("[name=task-run-" + val + "]").removeClass("hidden");
		})

		//添加任务
		$(".event-add-task").unbind("click").on("click", function() {
			//按钮sn
			var dataSn = $(this).attr('data-sn');
			//获取data-sn对应的资源属性
			var dataRes = $("div[data-sn=" + dataSn + "]");
			var dataMedia = dataRes.attr("data-media");
			var dataSize = dataRes.attr("data-size");
			//请求参数表
			var data = {
				mdeia: dataMedia,
				size: dataSize.replace('*', '-')
			}
			//获取与属性相关的资源
			DL({
				dev: 'on',
				listId: '#lists-code',
				uri: "/admin/adv-publish/task-res?oid=" + getItem("OID"),
				data: data,
				befor: function(that) {
					//根据任务标识tag,将任务数据缓存起来,供后续使用
					var tag = $.md5(JSON.stringify(data));
					if (!that.results.error && !(taskAdder.history.indexOf(tag) + 1)){
						var tasks = getItem("TASKS") || [];
						tasks = tasks.concat(that.results.data);
						//缓存任务数据
						setItem("TASKS", tasks);
						taskAdder.history.push(tag);
					}
					//显示模态框
					effect.modal({
						title: "请选择需要添加到任务的项",
						type: "larger"	//加载的模态框类型
					});
					$("#modal-body").html(codeTaskList)
				},
				after: function(that) {
					//联动选择关联
					effect.unionSelect();
					//应用footable效果
					$('.footable').footable();
					//添加添加到任务列表事件
					taskAdder.add2Tasks();
				}
			});
		});
		
		//选择设备尺寸时,清空设备残留数据(增加事件)
		$('.screenpiece').on("click", function(){
			//清空设备清单
			device.cleanDevice();
			device.init();
		});
		
		//选择执行方式相关事件
		$('.task-mode').on("click", function(){
			var val = $(this).find("input").val();
			$('.init-date').prop("disabled", true);
			$("[name^=task-run-" + val + "]").find(".init-date").prop("disabled", false);
		})
		
		//添加设备
		$(".event-add-device").unbind("click").on("click", function() {
			var deviceIndex = $(".screenpiece input[name='screenpiece']:checked").attr('data-index');
			var classify = deviceSizeVal[deviceIndex];
			
			//请求参数表
			var data = {
				classify: classify
			}
			//获取与属性相关的资源
			DL({
				dev: 'on',
				listId: '#device-code',
				uri: "/admin/adv-publish/device-list?oid=" + getItem("OID"),
				data: data,
				befor: function(that) {
					//根据任务标识tag,将任务数据缓存起来,供后续使用
					var tag = $.md5(JSON.stringify(data));
					var devices = that.results.data;
					//缓存任务数据
					if (!that.results.error) setItem("DEVICES", devices);
					//显示模态框
					effect.modal({
						title: "请选择需要添加到任务的项",
						type: "larger"	//加载的模态框类型
					});
					$("#modal-body").html(codeDeviceList)
				},
				after: function(that) {
					//联动选择关联
					effect.unionSelect();
					//应用footable效果
					$('.footable').footable();
					//添加添加到任务列表事件
					device.add2Tasks();
				}
			});
		});
		
		//提交前的数据补充
		$(".btn[type=submit]").unbind("mouseover").on("mouseover", function(){
			var list = taskAdder.getTasklist();
			var devices = device.getDevicelist();
			list = btoa(encodeURI(JSON.stringify(list)));
			$("#add-infor [name=tasklist]").val(list);
			$("#add-infor [name=devicelist]").val(devices);
		})
		
		
	});
	
	/**
	 * 任务处理对象
	 */
	var process = {
		//立即执行的任务
		current: function(res){
			ws.send({
				action: '/api/task/send-task',
				data: {
					unid: getItem('UID'),
					taskId: res.data.taskId,
					deviceId: getItem("DEVICE_ID").join('-')
				}
			});
		},
		//定时任务
		time: function(res){
			ws.send({
				action: '/api/task/send-task-timeout',
				data: {
					unid: getItem('UID'),
					taskId: res.data.taskId,
				}
			});
		},
		//定时循环任务
		fool: function(res){
			ws.send({
				action: '/api/task/send-task-Interval',
				data: {
					unid: getItem('UID'),
					taskId: res.data.taskId,
				}
			});
		}
	}
	/**
	 * 保存后的回调
	 * @param {Object} res
	 */
	function tasksSave(res){
		//错误时提示
		if(res.error) return app.notice(res);
		var mode = $("[name=mode]:checked").val();
		//通过ws服务,给相应的客户端发送命令
		if(mode in process) process[mode](res);
	}
	
</script>
