<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-25 11:08:33
 * @LastEditTime: 2019-08-23 17:14:47
 * @LastEditors: Please set LastEditors
 -->

<% var data = results[0] || {} %>
<% log(data.fieldset) %>
<% log(data.listfields) %>
<style>
.component-edit .active{background-color:#FFF;}
.table .active{background-color:#23AD44;}
.component-edit .mui-switch + em {
    position: relative;
    top: -24px;
    left: -8px;
    font-size: 10px;
    color: #ffffff;
    cursor: pointer;
}
</style>
<div class="container-fluid base">
    <div class="row head">
        <div class="col-xs-12">
            <span>系统管理-应用编辑</span>
        </div>
    </div>
    <!-- <ul class="nav nav-tabs" style="background-color:#fff">
        <li class="active"><a data-toggle="tab" data-target="#tab-1"><i class="fa fa-user"></i> 组件信息 </a>
        </li>
        <li class=""><a data-toggle="tab" data-target="#tab-2"><i class="fa fa-briefcase"></i> 字段设置 </a>
        </li>
    </ul> -->
    <div class="row tips">
        <div class="col-xs-12">
            <p class="ti"><i class="iconfont icon-yiliaohangyedeICON-">&nbsp;</i>操作提示</p>
           <div class="col-xs-12">
                <p class="indent">基本设置由：“安全设置、验证码设置、网站LOGO、地图设置、缓存设置、”组成。</p>              
           </div>
        </div>
    </div>
    
    <div class="row form component-edit">
        <form action="" method="">
            <table class="table text-center" id="tab-1">
               <thead>
                   <tr class="text-center">
                        <th>字段名称</th>
                        <th>字段标识</th>
                        <th>数据类型</th>
                        <th>数据长度</th>
                        <th>是否为空</th>
                        <th>所属列表</th>
                        <th>默认值</th>
                        <th>作用于表</th>
                        <th>采集数据</th>
                        <th>采集数量</th>
                        <th>写入数据</th>
                        <th>过滤数据</th>
                        <th>输入类型</th>
                        <th>更多属性</th>
                   </tr>
                </thead>
                    <tbody>
                        <tr>
                            <!-- 字段名称 -->
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="comname" value=""/>
                                </div>
                            </td>  
                            <!-- 字段标识  -->
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="comname" value=""/>
                                </div>
                            </td>  
                            <!-- 数据类型 -->
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="comname" value=""/>
                                </div>
                            </td>  
                            <!-- 数据长度 -->
                            <td>
                                <label class="form-group">
                                    <input type="text" class="form-control" name="comname" value=""/>
                                </label>
                            </td>  
                            <!-- 是否为空 -->
                            <td>
                                <label class="form-group">
                                    <input class="mui-switch mui-switch-anim is-null"  type="checkbox" checked name="isnull" value="1"><em></em>
                                </label>
                            </td> 
                            <!-- 所属列表  -->
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="comname" value=""/>
                                </div>
                            </td>  
                            <!-- 默认值 -->
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="comname" value=""/>
                                </div>
                            </td>  
                            <!-- 作用于表 -->
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="comname" value=""/>
                                </div>
                            </td>  
                            <!-- 采集数据 -->
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="comname" value=""/>
                                </div>
                            </td> 
                            <!-- 采集数量  -->
                            <td>
                                <label class="form-group">
                                    <input class="mui-switch mui-switch-anim is-get"  type="checkbox" checked name="get" value="1"><em></em>
                                </label>
                            </td>  
                            <!-- 写入数据 -->
                            <td>
                                <label class="form-group">
                                    <input class="mui-switch mui-switch-anim is-set"  type="checkbox" checked name="set" value="1"><em></em>
                                </label>
                            </td> 
                            <!-- 验证数据   -->
                            <td>
                                <label class="form-group">
                                    <input class="mui-switch mui-switch-anim is-novaild"  type="checkbox" checked name="novaild" value="1"><em></em>
                                </label>
                            </td>  
                            <!-- 输入类型 -->
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="comname" value=""/>
                                </div>
                            </td>  
                            <!-- 更多属性 -->
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="comname" value=""/>
                                </div>
                            </td>            
                        </tr>
                        
                    </tbody>
                <!-- <tbody>
                    <tr>
                        <td>：</td>
                        <td>
                            <div class="form-group col-xs-4">
                                <input type="text" class="form-control" id="comname" name="comname" disabled placeholder="网站名称" value="<%= data.comname %>"/>
                            </div>
                            <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：</span>
                        </td>              
                    </tr>

                    <tr>
                        <td>系统内置：</td>
                        <td style="padding-left: 26px">
                            <label><input class="mui-switch mui-switch-anim" disabled type="checkbox" checked><em></em></label>  
                        </td>
                    </tr>

                    <tr>
                        <td>组件图标：</td>
                        <td>
                            <div class="form-group col-xs-4">
                                <img src="<%= data.icon %>" />
                            </div>       
                        </td>
                    </tr>

                    <tr>
                        <td>组件数据表：</td>
                        <td>
                            <div class="form-group col-xs-4">
                                <input type="text" class="form-control" id="comname" name="addtable" disabled placeholder="" value="<%= data.addtable %>"/>
                            </div>
                            <span style="line-height: 40px;"><i class="iconfont icon-tishi" style="color: #1C66A7;"></i>&nbsp;如：</span>
                        </td>              
                    </tr>
                </tbody> -->
                <tfoot>
                   <tr>
                       <td></td>
                       <td>
                            <button type="submit" class="btn">确定</button>
                        </td>
                        <td>
                            <button type="reset" class="btn">重置</button>
                       </td>
                   </tr>
                </tfoot>
            </table>
         </form>
     </div>
</div>
<script src="/bootstrap/js/plugins/footable/footable.all.min.js"></script>
<script src="/bootstrap/js/plugins/nestable/jquery.nestable.js"></script>
<script>
    effect.switch('.is-null','是','否');
    effect.switch('.is-get','是','否');
    effect.switch('.is-set','是','否');
    effect.switch('.is-novaild','是','否');

    
    $("a[data-toggle='tab']").click(function(){
        $(".table").addClass('hidden');
        $($(this).attr('data-target')).removeClass('hidden');
    });
</script>
 
    
