<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-25 11:08:33
 * @LastEditTime: 2019-08-24 17:59:18
 * @LastEditors: Please set LastEditors
 -->

<% var data = results[0] || {} %>
<% log(data.fieldset) %>
<% log(data.listfields) %>
<link href="/bootstrap/css/plugins/footable/footable.core.css" rel="stylesheet">
<style>
.base .form td{padding:0}
.component-edit .active{background-color:#FFF;}
.table .active{background-color:#23AD44;}
.component-edit .footable-row-detail-name {vertical-align: middle;}

.component-edit .full {
    height: 3.5em;
    width: 100%;
    border: 0;
    display:inline-block;
    margin:0 !important;
}
.component-edit td{padding:0; margin:0; text-align:center}
.component-edit th{padding:0; margin:0;text-align:center}
.component-edit .footable-toggle{display: none !important}
.component-edit .footable-visible{
    padding:0 !important;
}
.component-edit .mui-switch + em {
    position: relative;
    left: -42px;
}
.component-edit .textarea{
    position: absolute !important;
    margin-left: 300px !important;
    margin-top: -140px !important;
}
.component-edit .tab-oper{
    width: 30px !important;
    border:0;
    padding-left:10px;
    position: absolute !important;
    margin-top: -35px !important;
    margin-left: 60px !important;
}
.component-edit .tab-oper .btn{
    padding:0;
}
.component-edit .tab-hidden{
    display:none;
}
    
</style>
<div class="container-fluid base">
    <div class="row head">
        <div class="col-xs-12">
            <span>系统管理-应用编辑</span>
        </div>
    </div>
    <!-- <ul class="nav nav-tabs" style="background-color:#fff">
        <li class="active"><a data-toggle="tab" data-target="#tab-1"><i class="fa fa-user"></i> 组件信息 </a>
        </li>
        <li class=""><a data-toggle="tab" data-target="#tab-2"><i class="fa fa-briefcase"></i> 字段设置 </a>
        </li>
    </ul> -->
    <div class="row tips">
        <div class="col-xs-12">
            <p class="ti"><i class="iconfont icon-yiliaohangyedeICON-">&nbsp;</i>操作提示</p>
           <div class="col-xs-12">
                <p class="indent">基本设置由：“安全设置、验证码设置、网站LOGO、地图设置、缓存设置、”组成。</p>              
           </div>
        </div>
    </div>
    
    <div class="row form component-edit">
        <form action="" method="" >
            <table class="footable table table-stripped toggle-arrow-tiny col-xs-10" data-page-size="50">
               <thead>
                   <tr class="text-center">
                        <th>字段名称</th>
                        <th>字段标识</th>
                        <th>数据类型</th>
                        <th>数据长度</th>
                        <th>是否为空</th>
                        <th>所属列表</th>
                        <th>默认值</th>
                        <th data-hide="all">作用于表</th>
                        <th data-hide="all">采集数据</th>
                        <th data-hide="all">采集数量</th>
                        <th data-hide="all">写入数据</th>
                        <th data-hide="all">过滤数据</th>
                        <th>输入类型</th>
                        <th data-hide="all"></th>
                   </tr>
                </thead>
                    <tbody>
                        <tr>
                            <!-- 字段名称 -->
                            <td>
                                    <input type="text" class="full"  name="itemname" value=""/>
                            </td>  
                            <!-- 字段标识  -->
                            <td>
                                    <input type="text" class="full" name="field" value=""/>
                            </td>  
                            <!-- 数据类型 -->
                            <td>
                                    <select class="full" data-key='int-varchar' data-def='' name="type"></select>
                            </td>  
                            <!-- 数据长度 -->
                            <td>
                                    <input type="number" class="full" name="maxlength" min=0 max=255 value=""/>
                            </td>  
                            <!-- 是否为空 -->
                            <td>
                                    <input class="mui-switch mui-switch-anim is-null"  type="checkbox" checked name="isnull" value="1"><em></em>
                            </td> 
                            <!-- 所属列表  -->
                            <td>
                                    <input type="text" class="full" name="islist" placeholder="填写列表名称，如：'商品分类'" value=""/>
                            </td>  
                            <!-- 默认值 -->
                            <td>
                                    <input type="text" class="full" name="default" value=""/>
                            </td>  
                            <!-- 作用于表 -->
                            <td>
                                    <input type="text" name="effect" placeholder="'main' 或 表名称 或不填" value=""/>
                            </td>  
                            <!-- 采集数据 -->
                            <td>
                                    <input class="mui-switch mui-switch-anim is-get"  type="checkbox" checked name="fieldget" value="1"><em></em>
                            </td> 
                            <!-- 采集数量  -->
                            <td>
                                <input type="number" min=0 name="limit" value=""/>
                            </td>  
                            <!-- 写入数据 -->
                            <td>
                                <input class="mui-switch mui-switch-anim is-set"  type="checkbox" checked name="fieldset" value="1"><em></em>
                            </td> 
                            <!-- 验证数据   -->
                            <td>
                                <input class="mui-switch mui-switch-anim is-novaild"  type="checkbox" checked name="novaild" value="1"><em></em>
                            </td>  
                            <!-- 输入类型 -->
                            <td>
                                <select class="full" data-key='input-checkbox-radio-select-textarea-uediter-uploader-nesmodal-address-freemodal' data-def='' name="inputtype"></select>
                                <div class="btn-group hidden-xs pull-right tab-oper tab-hidden" id="exampleToolbar" role="group">
                                    <button type="button" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-plus" data-name="plus" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-chevron-down" data-name="down" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline btn-default">
                                        <i class="glyphicon glyphicon-trash" data-name="trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>  
                            <!-- 更多属性 -->
                            <td>
                                <textarea class="textarea" placeholder="设计表单输入框属性，如: min=0 max=100 ..." cols=150 rows=6 name="attr"></textarea>
                            </td>   
                        </tr>
                        
                    </tbody>
                    
                <tfoot>
                   <tr>
                       <td colspan=14>
                            <button type="submit" class="btn">确定</button>
                            <button type="reset" class="btn">重置</button>
                        </td>
                        
                   </tr>
                </tfoot>
            </table>
         </form>
     </div>
</div>
<script src="/bootstrap/js/plugins/footable/footable.all.min.js"></script>
<script src="/bootstrap/js/plugins/nestable/jquery.nestable.js"></script>
<script src="/bootstrap/js/plugins/footable/footable.all.min.js"></script>
<script>
    /**
     * 操作柄 
     **/
    var oper = {
        plus: function(o){
            var tbody = $(o).parentsUntil('tbody').parent('tbody');
            var tbodyHtml = $(o).parentsUntil('tbody').parent()[0].outerHTML;
            $(tbody).after(tbodyHtml);
            $(o).mouseout();
            oper.event();
        },
        down: function(o){
            
            var me  = $(o).parentsUntil('td').parent('td').click();
        },
        trash: function(o){
            $(o).parentsUntil('tbody').parent('tbody').remove();
        },
        hadShow: function(o){
            $(o).parent().find(".tab-oper").addClass('tab-hidden');
            $(o).find(".tab-oper").removeClass('tab-hidden');
        },
        hadHidden: function(o){
            $(o).find(".tab-oper").addClass('tab-hidden');
        },
        event: function(){
            $(".component-edit .tab-oper .btn").unbind('click').on('click', function(){
                var name = $(this).children('i').attr('data-name');
                if(name in oper) oper[name](this);
            })
            $(".component-edit tbody tr").unbind('mouseover').on('mouseover',function(){
                oper.hadShow(this)
            })
            $(".component-edit tbody tr").unbind('mouseout').on('mouseout',function(){
                oper.hadHidden(this)
            })
            //$('.footable').footable();
        }
    }
    

    $(document).ready(function(){
        oper.event();
    });
    effect.switch('.is-null','是','否');
    effect.switch('.is-get','是','否');
    effect.switch('.is-set','是','否');
    effect.switch('.is-novaild','是','否');
    effect.setSelect('.component-edit');
</script>
 
    
