<style>
ul{
    list-style-type: none;
}
.compontents{
    border:0;
}
.compontents li{
    border:1px solid #5db4e0;
    padding : 0;
    height:5.5em;
    width:17em;
    margin:1em;
    display: -webkit-inline-box;
}
.component-icon{
    width:70%;
    border:0;
}
.component-icon img{
    vertical-align:middle;
    line-height:5.5em;
    width: 60px;
    margin-left: 4px;
    border-radius: 4px;
}
.component-oper{
    width:30%;
    border:0;
    margin-left: 5%;
    text-align: right;
    padding-top:0.5em;
}
.component-oper a{
    width:100%;
    display:inline-block;
    text-align:center;
}
</style>
<div class="container-fluid base">
    <div class="row head">
        <div class="col-xs-12">
            <span>系统管理-应用列表</span>
        </div>
    </div>
    <div class="row tips">
        <div class="col-xs-12">
            <p class="ti"><i class="iconfont icon-yiliaohangyedeICON-">&nbsp;</i>操作提示</p>
            <div class="col-xs-12">
                <p class="indent">基本设置由：“安全设置、验证码设置、网站LOGO、地图设置、缓存设置、”组成。</p>     
            </div>
        </div>
    </div>
    <div class="ibox-content row" style="margin-left:15px;margin-right:15px;">
        <ul class="compontents" id="compontents-list" >
            <li>
                <div class="component-icon">
                    <img src="{{icon}}"/ >
                    {{comname}}
                </div>
                <div class="component-oper">
                    <a  href='javascript:go("/admin/component/edit?cid={{id}}")'>编辑</a>
                    <a class="oper-item" data-async="post" data-uri="/admin/component/del?cid={{id}}">删除</a>
                </div>
            </li>
        </ul>
    </div>
</div>


<script>
 
    var compontents = <%- JSON.stringify({error: error, data: results}); %>
    app.addonParams = {oid:  getItem('OID')}
    DL({
        listId : "#compontents-list",
        packet : compontents,
        after : function(){
            app.load("#compontents-list");
        }
    });


    //删除应用
    function del(res){
        app.notice(res, function(){
            if(!res.error) go('/admin/component/index');
        });
    }
</script>
